<li>
    <a href="{{ site.python }}" class="otherLinkColour">DBR-Python Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-python.html" -%}
<hr>
<li>
    <a href="{{ site.java }}" class="otherLinkColour">DBR-Java Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-java.html" -%}
<hr>
<li>
    <a href="{{ site.dotnet }}" class="otherLinkColour">DBR-C# Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-dotnet.html" -%}
<hr>
<li>
    <a href="{{ site.cpp }}" class="otherLinkColour">DBR-C++ Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-cpp.html" -%}
<hr>
<li>
    <a href="{{ site.c }}" class="otherLinkColour">DBR-C Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-c.html" -%}