<li lang="dotnet" class="category">DEVELOPMENT</li>
<li lang="dotnet" ><a href="{{ site.dbr_dotnet }}user-guide.html" class="otherLinkColour">User Guide</a></li>
<li lang="dotnet"><a href="{{ site.dbr_dotnet_api }}" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a>DynamsoftCaptureVisionRouter</a>
            <ul>
                <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CaptureVisionRouter</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/instantiate.html" class="otherLinkColour">Constructor and Destructor</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/single-file-processing.html" class="otherLinkColour">Single-File Processing</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/multiple-file-processing.html" class="otherLinkColour">Multiple-File Processing</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/settings.html" class="otherLinkColour">Settings</a></li>
                    </ul>
                </li>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/captured-result.html" class="otherLinkColour">CapturedResult</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/captured-result-filter.html" class="otherLinkColour">CapturedResultFilter</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/captured-result-receiver.html" class="otherLinkColour">CapturedResultReceiver</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">CaptureVisionRouterModule</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/preset-template.html" class="otherLinkColour">PresetTemplate</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/simplified-capture-vision-settings.html" class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                    </ul>
                </li>
                <li><a>Interfaces</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/capture-state-listener.html" class="otherLinkColour">ICaptureStateListener</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/image-source-state-listener.html" class="otherLinkColour">IImageSourceStateListener</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcvb_enumerations }}capture-vision-router/capture-state.html?lang=dotnet" class="otherLinkColour">EnumCaptureState</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}capture-vision-router/image-source-state.html?lang=dotnet" class="otherLinkColour">EnumImageSourceState</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftBarcodeReader</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dbr_dotnet_api }}aztec-details.html" class="otherLinkColour">AztecDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}barcode-details.html" class="otherLinkColour">BarcodeDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}barcode-reader-module.html" class="otherLinkColour">BarcodeReaderModule</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}barcode-result-item.html" class="otherLinkColour">BarcodeResultItem</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}datamatrix-details.html" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}decoded-barcodes-result.html" class="otherLinkColour">DecodedBarcodesResult</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}oned-code-details.html" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}pdf417-details.html" class="otherLinkColour">PDF417Details</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}qr-code-details.html" class="otherLinkColour">QRCodeDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}simplified-barcode-reader-settings.html" class="otherLinkColour">SimplifiedBarcodeReaderSettings</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcvb_enumerations }}barcode-reader/barcode-format.html?lang=dotnet" class="otherLinkColour">EnumBarcodeFormat</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}barcode-reader/deblur-mode.html?lang=dotnet" class="otherLinkColour">EnumDeblurMode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}barcode-reader/extended-barcode-result-type.html?lang=dotnet" class="otherLinkColour">EnumExtendedBarcodeResultType</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}barcode-reader/localization-mode.html?lang=dotnet" class="otherLinkColour">EnumLocalizationMode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}barcode-reader/qr-code-error-correction-level.html?lang=dotnet" class="otherLinkColour">EnumQRCodeErrorCorrectionLevel</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftCore</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/captured-result-item.html" class="otherLinkColour">CapturedResultItem</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/core-module.html" class="otherLinkColour">CoreModule</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/file-image-tag.html" class="otherLinkColour">FileImageTag</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/image-data.html" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/image-source-adapter.html" class="otherLinkColour">ImageSourceAdapter</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/image-tag.html" class="otherLinkColour">ImageTag</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/original-image-result-item.html" class="otherLinkColour">OriginalImageResultItem</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/pdf-reading-parameter.html" class="otherLinkColour">PDFReadingParameter</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/point.html" class="otherLinkColour">Point</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/rect.html" class="otherLinkColour">Rect</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/video-frame-tag.html" class="otherLinkColour">VideoFrameTag</a></li>
                    </ul>
                </li>
                <li><a>Interface</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/image-source-error-listener.html" class="otherLinkColour">IImageSourceErrorListener</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcvb_enumerations }}core/buffer-overflow-protection-mode.html?lang=dotnet" class="otherLinkColour">EnumBufferOverflowProtectionMode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/captured-result-item-type.html?lang=dotnet" class="otherLinkColour">EnumCapturedResultItemType</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/colour-channel-usage-type.html?lang=dotnet" class="otherLinkColour">EnumColourChannelUsageType</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/error-code.html?lang=dotnet" class="otherLinkColour">EnumErrorCode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/grayscale-enhancement-mode.html?lang=dotnet" class="otherLinkColour">EnumGrayscaleEnhancementMode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/grayscale-transformation-mode.html?lang=dotnet" class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/image-capture-distance-mode.html?lang=dotnet" class="otherLinkColour">EnumImageCaptureDistanceMode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/image-pixel-format.html?lang=dotnet" class="otherLinkColour">EnumImagePixelFormat</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/image-tag-type.html?lang=dotnet" class="otherLinkColour">EnumImageTagType</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/pdf-reading-mode.html?lang=dotnet" class="otherLinkColour">EnumPDFReadingMode</a></li>                
                        <li><a href="{{ site.dcvb_enumerations }}core/raster-data-source.html?lang=dotnet" class="otherLinkColour">EnumRasterDataSource</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/video-frame-quality.html?lang=dotnet" class="otherLinkColour">EnumVideoFrameQuality</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftUtility</a>
            <ul>
                <li><a href="{{ site.dcvb_dotnet_api }}utility/directory-fetcher.html" class="otherLinkColour">DirectoryFetcher</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}utility/file-fetcher.html" class="otherLinkColour">FileFetcher</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}utility/image-manager.html" class="otherLinkColour">ImageManager</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}utility/multi-frame-result-cross-filter.html" class="otherLinkColour">MultiFrameResultCrossFilter</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}utility/proactive-image-source-adapter.html" class="otherLinkColour">ProactiveImageSourceAdapter</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}utility/utility-module.html" class="otherLinkColour">UtilityModule</a></li>
            </ul>
        </li>
        <li><a>DynamsoftLicense</a>
            <ul>
                <li><a href="{{ site.dcvb_dotnet_api }}license/license-manager.html" class="otherLinkColour">LicenseManager</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}license/license-module.html" class="otherLinkColour">LicenseModule</a></li>
            </ul>
        </li>
        <li><a>DynamsoftImageProcessing</a>
            <ul>
                <li><a href="{{ site.dcvb_dotnet_api }}image-processing/image-processing-module.html" class="otherLinkColour">ImageProcessingModule</a></li>
            </ul>
        </li>
    </ul>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang=include.lang targetRelativePath="sidelist-understanding.html" -%}
<li lang="dotnet" class="category">USEFUL RESOURCES</li>

<li lang="dotnet"><a href="{{ site.dbr_dotnet_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul>
        <li><a href="{{ site.dbr_dotnet_release_notes }}dotnet-10.html" class="otherLinkColour">Version 10.x</a></li>
        <li><a href="{{ site.dbr_dotnet_release_notes }}dotnet-9.html" class="otherLinkColour">Version 9.x</a></li>
        <li><a href="{{ site.dbr_dotnet_release_notes }}dotnet-8.html" class="otherLinkColour">Version 8.x</a></li>
        <li><a href="{{ site.dbr_dotnet_release_notes }}dotnet-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
    </ul>
</li>
<li lang="dotnet"><a href="{{ site.license_activation }}index.html" class="otherLinkColour">License Initialization</a></li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang=include.lang targetRelativePath="sidelist-faq.html" -%}

<li lang="dotnet" class="category">OTHER EDITIONS</li>
<li lang="dotnet"><a class="otherLinkColour">Choose a Language</a>
    <ul>
        <li><a target="_blank" href="{{ site.dbr_python }}" class="otherLinkColour refreshLink">Python</a></li>
        <li><a target="_blank" href="{{ site.dbr_java }}" class="otherLinkColour refreshLink">Java</a></li>
        <li><a target="_blank" href="{{ site.dbr_cpp }}" class="otherLinkColour refreshLink">C++</a></li>
        <li><a target="_blank" href="{{ site.dbr_c }}" class="otherLinkColour refreshLink">C</a></li>
    </ul>
</li>