<li lang="c" class="category">DEVELOPMENT</li>

<li lang="c" ><a href="{{ site.c }}user-guide/index.html" class="otherLinkColour">User Guide</a>
    <ul lang="c" >
        <li lang="c" ><a href="{{ site.c }}user-guide.html" class="otherLinkColour">Getting Started</a> </li>

        <li lang="c" ><a href="{{ site.c }}user-guide/explore-features/index.html" class="otherLinkColour">Explore Features</a>
            <ul lang="c" >
                <li lang="c" ><a class="otherLinkColour">Basic Features</a>
                    <ul lang="c" >
                        <li lang="c" ><a href="{{ site.features }}barcode-formats-and-count.html?lang=c" class="otherLinkColour">Specify barcode formats and count</a></li>
                        <li lang="c" ><a href="{{ site.features }}read-different-source.html?lang=c" class="otherLinkColour">Read barcode from image</a></li>
                        <li lang="c" ><a href="{{ site.features }}barcode-scan-region.html?lang=c" class="otherLinkColour">Read a specific area/region</a></li>
                    </ul>
                </li>
                <li lang="c" ><a class="otherLinkColour">Handle Different Scenarios</a>
                    <ul lang="c" >
                        <li lang="c" ><a href="{{ site.features }}read-inverted-barcodes.html?lang=c" class="otherLinkColour">Read inverted barcodes</a></li>
                        <li lang="c" ><a href="{{ site.features }}read-deformed-barcodes.html?lang=c" class="otherLinkColour">Read deformed barcodes</a></li>
                        <li lang="c" ><a href="{{ site.features }}read-incomplete-barcodes.html?lang=c" class="otherLinkColour">Read incomplete barcodes</a></li>
                        <li lang="c" ><a href="{{ site.features }}read-a-large-image.html?lang=c" class="otherLinkColour">Read barcodes from a large image</a></li>
                        <li lang="c" ><a href="{{ site.features }}read-barcodes-with-small-moduleSize.html?lang=c" class="otherLinkColour">Read barcodes with small module size</a></li>
                        <li lang="c" ><a href="{{ site.features }}read-barcodes-with-imbalanced-colour.html?lang=c" class="otherLinkColour">Read images with imbalanced colors</a></li>
                        <li lang="c" ><a href="{{ site.features }}read-barcodes-with-uneven-lighting.html?lang=c" class="otherLinkColour">Read images with uneven lighting</a></li>
                        <li lang="c" ><a href="{{ site.features }}read-images-with-texture.html?lang=c" class="otherLinkColour">Read images with texture</a></li>
                        <li lang="c" ><a href="{{ site.features }}read-images-with-lots-of-text.html?lang=c" class="otherLinkColour">Read images with lots of text</a></li>
                        <li lang="c" ><a href="{{ site.features }}read-dense-barcodes.html?lang=c" class="otherLinkColour">Read high-density QR Codes</a></li>
                        <li lang="c" ><a href="{{ site.features }}preprocess-images.html?lang=c" class="otherLinkColour">Preprocess images to read difficult barcodes</a></li>
                        <li lang="c" ><a href="{{ site.features }}use-region-predetection.html?lang=c" class="otherLinkColour">Automatically detect barcode Region of Interest</a></li>
                    </ul>
                </li>
                <li lang="c" ><a class="otherLinkColour">Barcode Results</a>
                    <ul lang="c" >
                        <li lang="c" ><a href="{{ site.features }}get-confidence-rotation.html?lang=c" class="otherLinkColour">Get barcode confidence and rotation</a></li>
                        <li lang="c" ><a href="{{ site.features }}get-barcode-location.html?lang=c" class="otherLinkColour">Get barcode location</a></li>
                        <li lang="c" ><a href="{{ site.features }}get-detailed-info.html?lang=c" class="otherLinkColour">Get detailed barcode information</a></li>
                        <li lang="c" ><a href="{{ site.features }}filter-and-sort.html?lang=c" class="otherLinkColour">Filter and sort decoding results</a></li>
                        <li lang="c" ><a href="{{ site.features }}use-intermidiate-results.html?lang=c" class="otherLinkColour">Use intermediate results</a></li>
                    </ul>
                </li>
                <li lang="c" ><a class="otherLinkColour">Advanced Features</a>
                    <ul lang="c" >
                        <li lang="c" ><a href="{{ site.features }}control-terminate-phase.html?lang=c" class="otherLinkColour">Control when to terminate a decoding process</a></li>
                        <li lang="c" ><a href="{{ site.features }}use-runtimesettings-or-templates.html?lang=c" class="otherLinkColour">Use RuntimeSettings or Templates</a></li>
                        <li lang="c" ><a href="{{ site.features }}use-format-specific-configuration.html?lang=c" class="otherLinkColour">Use format specific configurations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="c" ><a href="{{ site.c }}user-guide/use-cases/index.html" class="otherLinkColour">Check Use Cases</a>
            <ul lang="c" >
                <li lang="c" ><a href="{{ site.usecases }}read-dpm-codes.html?lang=c" class="otherLinkColour">Read DPM codes</a></li>
                <li lang="c" ><a href="{{ site.usecases }}read-postal-codes.html?lang=c" class="otherLinkColour">Read Postal codes</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="c"><a href="{{ site.c }}samples/index.html" class="otherLinkColour">Samples and Demo</a></li>
<li lang="c"><a href="{{ site.c_api }}" class="otherLinkColour">API Reference</a>
    <ul lang="c">
        <li lang="c"><a href="{{ site.c_methods }}" class="otherLinkColour">Global Functions</a>
            <ul lang="c">
                <li lang="c"><a href="{{ site.c_methods }}initialize-and-destroy.html" class="otherLinkColour">Initialize and Destroy</a></li>
                <li lang="c"><a href="{{ site.c_methods }}license.html" class="otherLinkColour">License Functions</a></li>
                <li lang="c"><a href="{{ site.c_methods }}decode.html" class="otherLinkColour">Decode Functions</a></li>
                <li lang="c"><a href="{{ site.c_methods }}parameter-and-runtime-settings-basic.html" class="otherLinkColour">Basic Settings Functions</a></li>
                <li lang="c"><a href="{{ site.c_methods }}parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Advanced Settings Functions</a></li>
                <li lang="c"><a href="{{ site.c_methods }}result.html" class="otherLinkColour">Result Functions</a></li>
                <li lang="c"><a href="{{ site.c_methods }}general.html" class="otherLinkColour">General Functions</a></li>
                <li lang="c"><a href="{{ site.c_methods }}video.html" class="otherLinkColour">Video Functions</a></li>
            </ul>
        </li>
        <li lang="c"><a href="{{ site.structs }}?src=c" class="otherLinkColour">Structs</a>
            <ul lang="c">
                <li lang="c"><a href="{{ site.structs }}AztecDetails.html?src=c" class="otherLinkColour">AztecDetails</a></li>
                <li lang="c"><a href="{{ site.structs }}Contour.html?src=c" class="otherLinkColour">Contour</a></li>
                <li lang="c"><a href="{{ site.structs }}DBRPoint.html?src=c" class="otherLinkColour">DBRPoint</a></li>
                <li lang="c"><a href="{{ site.structs }}DataMatrixDetails.html?src=c" class="otherLinkColour">DataMatrixDetails</a></li>
                <li lang="c"><a href="{{ site.structs }}DMDLSConnectionParameters.html?src=c" class="otherLinkColour">DM_DLSConnectionParameters</a></li>
                <li lang="c"><a href="{{ site.structs }}ExtendedResult.html?src=c" class="otherLinkColour">ExtendedResult</a></li>
                <li lang="c"><a href="{{ site.structs }}FrameDecodingParameters.html?src=c" class="otherLinkColour">FrameDecodingParameters</a></li>
                <li lang="c"><a href="{{ site.structs }}FurtherModes.html?src=c" class="otherLinkColour">FurtherModes</a></li>
                <li lang="c"><a href="{{ site.structs }}ImageData.html?src=c" class="otherLinkColour">ImageData</a></li>
                <li lang="c"><a href="{{ site.structs }}IntermediateResult.html?src=c" class="otherLinkColour">IntermediateResult</a></li>
                <li lang="c"><a href="{{ site.structs }}IntermediateResultArray.html?src=c" class="otherLinkColour">IntermediateResultArray</a></li>
                <li lang="c"><a href="{{ site.structs }}LineSegment.html?src=c" class="otherLinkColour">LineSegment</a></li>
                <li lang="c"><a href="{{ site.structs }}LocalizationResult.html?src=c" class="otherLinkColour">LocalizationResult</a></li>
                <li lang="c"><a href="{{ site.structs }}OneDCodeDetails.html?src=c" class="otherLinkColour">OneDCodeDetails</a></li>
                <li lang="c"><a href="{{ site.structs }}PDF417Details.html?src=c" class="otherLinkColour">PDF417Details</a></li>
                <li lang="c"><a href="{{ site.structs }}PublicRuntimeSettings.html?src=c" class="otherLinkColour">PublicRuntimeSettings</a></li>
                <li lang="c"><a href="{{ site.structs }}QRCodeDetails.html?src=c" class="otherLinkColour">QRCodeDetails</a></li>
                <li lang="c"><a href="{{ site.structs }}Quadrilateral.html?src=c" class="otherLinkColour">Quadrilateral</a></li>
                <li lang="c"><a href="{{ site.structs }}RegionDefinition.html?src=c" class="otherLinkColour">RegionDefinition</a></li>
                <li lang="c"><a href="{{ site.structs }}RegionOfInterest.html?src=c" class="otherLinkColour">RegionOfInterest</a></li>
                <li lang="c"><a href="{{ site.structs }}SamplingImageData.html?src=c" class="otherLinkColour">SamplingImageData</a></li>
                <li lang="c"><a href="{{ site.structs }}TextResult.html?src=c" class="otherLinkColour">TextResult</a></li>
                <li lang="c"><a href="{{ site.structs }}TextResultArray.html?src=c" class="otherLinkColour">TextResultArray</a></li>
            </ul>
        </li>
        <li lang="c"><a href="{{ site.enumerations }}?src=c" class="otherLinkColour">Enumerations</a>
            <ul lang="c">
                <li lang="c"><a href="{{ site.enumerations }}format-enums.html?src=c" class="otherLinkColour">Format Enumerations</a></li>
                <li lang="c"><a href="{{ site.enumerations }}parameter-mode-enums.html?src=c" class="otherLinkColour">Parameter Mode Enumerations</a></li>
                <li lang="c"><a href="{{ site.enumerations }}result-enums.html?src=c" class="otherLinkColour">Result Enumerations</a></li>
                <li lang="c"><a href="{{ site.enumerations }}frame-decoding-enums.html?src=c" class="otherLinkColour">Frame Decoding Enumerations</a></li>
                <li lang="c"><a href="{{ site.enumerations }}other-enums.html?src=c" class="otherLinkColour">Other Enumerations</a></li>
                <li lang="c"><a href="{{ site.enumerations }}error-code.html?src=c" class="otherLinkColour">Error Code</a></li>
            </ul>
        </li>
        <li lang="c"><a href="{{ site.c_api }}function-pointer.html" class="otherLinkColour">Callbacks</a></li>
    </ul>
</li>
<li lang="c" class="category">USEFUL RESOURCES</li>

<li lang="c"><a href="{{ site.c_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="c">
        <li lang="c"><a href="{{ site.c_release_notes }}c-9.html" class="otherLinkColour">Version 9.x</a></li>
        <li lang="c"><a href="{{ site.c_release_notes }}c-8.html" class="otherLinkColour">Version 8.x</a></li>
        <li lang="c"><a href="{{ site.c_release_notes }}c-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
    </ul>
</li>
<li lang="c"><a href="{{ site.c }}upgrade-instruction.html" class="otherLinkColour">Upgrade Instructions</a></li>

<li lang="c" class="category">OTHER EDITIONS</li>
<li lang="c"><a class="otherLinkColour">Choose a Language</a>
    <ul lang="c">
        <li lang="c"><a target="_blank" href="{{ site.python }}" class="otherLinkColour refreshLink">Python</a></li>
        <li lang="c"><a target="_blank" href="{{ site.java }}" class="otherLinkColour refreshLink">Java</a></li>
        <li lang="c"><a target="_blank" href="{{ site.dotnet }}" class="otherLinkColour refreshLink">.NET</a></li>
        <li lang="c"><a target="_blank" href="{{ site.cpp }}" class="otherLinkColour refreshLink">C++</a></li>
    </ul>
</li>