<li lang="python" class="category">DEVELOPMENT</li>
        <li lang="python"><a href="{{ site.python }}user-guide.html" class="otherLinkColour">User Guide</a></li>
        <li lang="python"><a href="{{ site.python_api }}" class="otherLinkColour">API Reference</a>
            <ul lang="python">
                <li lang="python"><a href="{{ site.python_api }}BarcodeReader/" class="otherLinkColour">BarcodeReader Class</a>
                    <ul lang="python">
                        <li lang="python"><a href="{{ site.python_api }}BarcodeReader/constructor-and-destructor.html" class="otherLinkColour">Constructor and Destructor</a></li>
                        <li lang="python"><a href="{{ site.python_api }}BarcodeReader/license.html" class="otherLinkColour">License Methods</a></li>
                        <li lang="python"><a href="{{ site.python_api }}BarcodeReader/decode.html" class="otherLinkColour">Decode Methods</a></li> 
                        <li lang="python"><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-basic.html" class="otherLinkColour">Basic Settings Methods</a></li>
                        <li lang="python"><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Advanced Settings Methods</a></li>
                        <li lang="python"><a href="{{ site.python_api }}BarcodeReader/video.html" class="otherLinkColour">Video Methods</a></li>
                        <li lang="python"><a href="{{ site.python_api }}BarcodeReader/result.html" class="otherLinkColour">Result Methods</a></li>
                        
                    </ul>
                </li>
                <li lang="python"><a href="{{ site.python_api }}class/" class="otherLinkColour">Auxiliary Classes</a>
                    <ul lang="python">
                        <li lang="python"><a href="{{ site.python_api }}class/AztecDetailedResult.html" class="otherLinkColour">AztecDetailedResult</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/BarcodeReaderError.html" class="otherLinkColour">BarcodeReaderError</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/Contour.html" class="otherLinkColour">Contour</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/DataMatrixDetailedResult.html" class="otherLinkColour">DataMatrixDetailedResult</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/DMLTSConnectionParameters.html" class="otherLinkColour">DMLTSConnectionParameters</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/ErrorCallBack.html" class="otherLinkColour">ErrorCallBack</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/ExtendedResult.html" class="otherLinkColour">ExtendedResult</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/ImageData.html" class="otherLinkColour">ImageData</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/IntermediateResultCallBack.html" class="otherLinkColour">IntermediateResultCallBack</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/LineSegment.html" class="otherLinkColour">LineSegment</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/OnedDetailedResult.html" class="otherLinkColour">OnedDetailedResult</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/PDFDetailedResult.html" class="otherLinkColour">PDFDetailedResult</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/Point.html" class="otherLinkColour">Point</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/QRCodeDetailedResult.html" class="otherLinkColour">QRCodeDetailedResult</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/TextResult.html" class="otherLinkColour">TextResult</a></li>
                        <li lang="python"><a href="{{ site.python_api }}class/TextResultCallBack.html" class="otherLinkColour">TextResultCallBack</a></li>
                    </ul>
                </li>
                <li lang="python"><a href="{{ site.python_enumerations }}" class="otherLinkColour">Enumerations</a>
                    <ul lang="cplusplus">
                        <li lang="cplusplus"><a href="{{ site.python_enumerations }}format-enums.html" class="otherLinkColour">Format Enumerations</a></li>
                        <li lang="cplusplus"><a href="{{ site.python_enumerations }}parameter-mode-enums.html" class="otherLinkColour">Parameter Mode Enumerations</a></li>
                        <li lang="cplusplus"><a href="{{ site.python_enumerations }}result-enums.html" class="otherLinkColour">Result Enumerations</a></li>
                        <li lang="cplusplus"><a href="{{ site.python_enumerations }}other-enums.html" class="otherLinkColour">Other Enumerations</a></li>
                        <li lang="cplusplus"><a href="{{ site.python_enumerations }}error-code.html" class="otherLinkColour">Error Code</a></li>
                    </ul>
                </li>
                    </ul>
        </li>
        <li lang="python" class="category">USEFUL RESOURCES</li>
        <li lang="python"><a href="{{ site.python_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul lang="python">
                <li lang="python"><a href="{{ site.python_release_notes }}python-8.html" class="otherLinkColour">Version 8.x</a></li>
                <li lang="python"><a href="{{ site.python_release_notes }}python-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
            </ul>
        </li>
        <li lang="python"><a href="{{ site.python }}upgrade-instruction.html" class="otherLinkColour">Upgrade Instructions</a></li>
        <li lang="python" class="category">OTHER EDITIONS</li>
        <li lang="python"><a class="otherLinkColour">Choose a Language</a>
            <ul lang="python">
                <li lang="python"><a target="_blank" href="{{ site.java }}" class="otherLinkColour refreshLink">Java</a></li>
                <li lang="python"><a target="_blank" href="{{ site.dotnet }}" class="otherLinkColour refreshLink">C#</a></li>
                <li lang="python"><a target="_blank" href="{{ site.cpp }}" class="otherLinkColour refreshLink">C++</a></li>
                <li lang="python"><a target="_blank" href="{{ site.c }}" class="otherLinkColour refreshLink">C</a></li>
            </ul>            
</li>