<li lang="cplusplus" class="category">DEVELOPMENT</li>
<li lang="cplusplus" ><a href="{{ site.dbr_cpp }}user-guide.html" class="otherLinkColour">User Guide</a>
    <ul>
        <li><a href="{{ site.dbr_cpp }}user-guide/explore-features/index.html" class="otherLinkColour">Explore Features</a>
            <ul>
                <li><a class="otherLinkColour">Basic Features</a>
                    <ul>
                        <li><a href="{{ site.features }}barcode-formats-and-count.html?lang=cpp" class="otherLinkColour">Specify barcode formats and count</a></li>
                        <li><a href="{{ site.features }}barcode-scan-region.html?lang=cpp" class="otherLinkColour">Read a specific area/region</a></li>
                    </ul>
                </li>
                <li><a class="otherLinkColour">Handle Different Scenarios</a>
                    <ul>
                        <li><a href="{{ site.features }}read-inverted-barcodes.html?lang=cpp" class="otherLinkColour">Read inverted barcodes</a></li>
                        <li><a href="{{ site.features }}read-deformed-barcodes.html?lang=cpp" class="otherLinkColour">Read deformed barcodes</a></li>
                        <li><a href="{{ site.features }}read-incomplete-barcodes.html?lang=cpp" class="otherLinkColour">Read incomplete barcodes</a></li>
                        <li><a href="{{ site.features }}read-a-large-image.html?lang=cpp" class="otherLinkColour">Read barcodes from a large image</a></li>
                        <li><a href="{{ site.features }}read-barcodes-with-small-module-size.html?lang=cpp" class="otherLinkColour">Read barcodes with small module size</a></li>
                        <li><a href="{{ site.features }}read-barcodes-with-imbalanced-colour.html?lang=cpp" class="otherLinkColour">Read images with imbalanced colors</a></li>
                        <li><a href="{{ site.features }}read-barcodes-with-uneven-lighting.html?lang=cpp" class="otherLinkColour">Read images with uneven lighting</a></li>
                        <li><a href="{{ site.features }}read-images-with-texture.html?lang=cpp" class="otherLinkColour">Read images with texture</a></li>
                        <li><a href="{{ site.features }}read-images-with-lots-of-text.html?lang=cpp" class="otherLinkColour">Read images with lots of text</a></li>
                        <li><a href="{{ site.features }}read-dense-barcodes.html?lang=cpp" class="otherLinkColour">Read high-density QR Codes</a></li>
                        <li><a href="{{ site.features }}preprocess-images.html?lang=cpp" class="otherLinkColour">Preprocess images to read difficult barcodes</a></li>
                        <li><a href="{{ site.features }}use-region-predetection.html?lang=cpp" class="otherLinkColour">Automatically detect barcode Region of Interest</a></li>
                    </ul>
                </li>
                <li><a class="otherLinkColour">Barcode Results</a>
                    <ul>
                        <li><a href="{{ site.features }}get-confidence-rotation.html?lang=cpp" class="otherLinkColour">Get barcode confidence and rotation</a></li>
                        <li><a href="{{ site.features }}get-barcode-location.html?lang=cpp" class="otherLinkColour">Get barcode location</a></li>
                        <li><a href="{{ site.features }}get-detailed-info.html?lang=cpp" class="otherLinkColour">Get detailed barcode information</a></li>
                        <li><a href="{{ site.features }}filter-and-sort.html?lang=cpp" class="otherLinkColour">Filter and sort decoding results</a></li>
                        <li><a href="{{ site.features }}use-intermidiate-results.html?lang=cpp" class="otherLinkColour">Use intermediate results</a></li>
                    </ul>
                </li>
                <li><a class="otherLinkColour">Advanced Features</a>
                    <ul>
                        <li><a href="{{ site.features }}control-terminate-phase.html?lang=cpp" class="otherLinkColour">Control when to terminate a decoding process</a></li>
                        <li><a href="{{ site.features }}use-runtimesettings-or-templates.html?lang=cpp" class="otherLinkColour">Use SimplifiedSettings or Templates</a></li>
                        <li><a href="{{ site.features }}use-format-specific-configuration.html?lang=cpp" class="otherLinkColour">Use format specific configurations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.dbr_cpp }}user-guide/use-cases/index.html" class="otherLinkColour">Check Use Cases</a>
            <ul>
                <li><a href="{{ site.usecases }}read-dpm-codes.html?lang=cpp" class="otherLinkColour">Read DPM codes</a></li>
                <li><a href="{{ site.usecases }}read-postal-codes.html?lang=cpp" class="otherLinkColour">Read Postal codes</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="cplusplus"><a href="{{ site.dbr_cpp }}samples/index.html" class="otherLinkColour">Samples and Demo</a></li>
<li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a>DynamsoftCaptureVisionRouter</a>
            <ul>
                <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CCaptureVisionRouter</a>
                    <ul>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/instantiate.html"  class="otherLinkColour">Constructor and Destructor</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/single-file-processing.html"  class="otherLinkColour">Single-File Processing</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/multiple-file-processing.html"  class="otherLinkColour">Multiple-File Processing</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/settings.html"  class="otherLinkColour">Settings</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/intermediate-result.html"  class="otherLinkColour">Intermediate Result</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/buffered-items.html"  class="otherLinkColour">Buffered Items</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/auxiliary-methods.html"  class="otherLinkColour">Auxiliary Methods</a></li>
                    </ul>
                </li>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/auxiliary-classes/capture-state-listener.html" class="otherLinkColour">CCaptureStateListener</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">CCaptureVisionRouterModule</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/auxiliary-classes/captured-result.html" class="otherLinkColour">CCapturedResult</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/auxiliary-classes/captured-result-filter.html" class="otherLinkColour">CCapturedResultFilter</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/auxiliary-classes/captured-result-receiver.html" class="otherLinkColour">CCapturedResultReceiver</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/auxiliary-classes/image-source-state-listener.html" class="otherLinkColour">CImageSourceStateListener</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/auxiliary-classes/intermediate-result-manager.html" class="otherLinkColour">CIntermediateResultManager</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/auxiliary-classes/intermediate-result-receiver.html" class="otherLinkColour">CIntermediateResultReceiver</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/auxiliary-classes/preset-template.html"  class="otherLinkColour">CPresetTemplate</a></li>
                    </ul>
                </li>
                <li><a>Structs</a>
                    <ul>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/structs/simplified-capture-vision-settings.html"  class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/enum-capture-state.html?lang=cpp"  class="otherLinkColour">CaptureState</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}capture-vision-router/enum-image-source-state.html?lang=cpp"  class="otherLinkColour">ImageSourceState</a></li>
                    </ul>
                </li>

            </ul>
        </li>
        <li><a>DynamsoftBarcodeReader</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dbr_cpp_api }}aztec-details.html" class="otherLinkColour">CAztecDetails</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}barcode-details.html" class="otherLinkColour">CBarcodeDetails</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}barcode-reader-module.html" class="otherLinkColour">CBarcodeReaderModule</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}barcode-result-item.html" class="otherLinkColour">CBarcodeResultItem</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}candidate-barcode-zone.html" class="otherLinkColour">CCandidateBarcodeZone</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}candidate-barcode-zones-unit.html" class="otherLinkColour">CCandidateBarcodeZonesUnit</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}complemented-barcode-image-unit.html" class="otherLinkColour">CComplementedBarcodeImageUnit</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}datamatrix-details.html" class="otherLinkColour">CDataMatrixDetails</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}decoded-barcode-element.html" class="otherLinkColour">CDecodedBarcodeElement</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}decoded-barcodes-result.html" class="otherLinkColour">CDecodedBarcodesResult</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}decoded-barcodes-unit.html" class="otherLinkColour">CDecodedBarcodesUnit</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}deformation-resisted-barcode-image-unit.html" class="otherLinkColour">CDeformationResistedBarcodeImageUnit</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}deformation-resisted-barcode.html" class="otherLinkColour">CDeformationResistedBarcode</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}eci-segment.html" class="otherLinkColour">CECISegment</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}extended-barcode-result.html" class="otherLinkColour">CExtendedBarcodeResult</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}localized-barcode-element.html" class="otherLinkColour">CLocalizedBarcodeElement</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}localized-barcodes-unit.html" class="otherLinkColour">CLocalizedBarcodesUnit</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}oned-code-details.html" class="otherLinkColour">COneDCodeDetails</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}pdf417-details.html" class="otherLinkColour">CPDF417Details</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}qr-code-details.html" class="otherLinkColour">CQRCodeDetails</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}scaled-barcode-image-unit.html" class="otherLinkColour">CScaledBarcodeImageUnit</a></li>                        
                    </ul>
                </li>
                <li><a>Structs</a>
                    <ul>
                        <li><a href="{{ site.dbr_cpp_api }}simplified-barcode-reader-settings.html"  class="otherLinkColour">SimplifiedBarcodeReaderSettings</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dbr_cpp_api }}enum-barcode-format.html?lang=cpp"  class="otherLinkColour">BarcodeFormat</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}enum-deblur-mode.html?lang=cpp"  class="otherLinkColour">DeblurMode</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}enum-extended-barcode-result-type.html?lang=cpp"  class="otherLinkColour">ExtendedBarcodeResultType</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}enum-localization-mode.html?lang=cpp"  class="otherLinkColour">LocalizationMode</a></li>
                        <li><a href="{{ site.dbr_cpp_api }}enum-qr-code-error-correction-level.html?lang=cpp"  class="otherLinkColour">QRCodeErrorCorrectionLevel</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftCore</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/abstract-intermediate-result-receiver.html" class="otherLinkColour">CAbstractIntermediateResultReceiver</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/binary-image-unit.html" class="otherLinkColour">CBinaryImageUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/captured-result-base.html" class="otherLinkColour">CCapturedResultBase</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/captured-result-item.html" class="otherLinkColour">CCapturedResultItem</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/colour-image-unit.html" class="otherLinkColour">CColourImageUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/contours-unit.html" class="otherLinkColour">CContoursUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/contour.html" class="otherLinkColour">CContour</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/core-module.html" class="otherLinkColour">CCoreModule</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/corner.html" class="otherLinkColour">CCorner</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/edge.html" class="otherLinkColour">CEdge</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/enhanced-grayscale-image-unit.html" class="otherLinkColour">CEnhancedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/file-image-tag.html" class="otherLinkColour">CFileImageTag</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/grayscale-image-unit.html" class="otherLinkColour">CGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/image-data.html" class="otherLinkColour">CImageData</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/image-source-adapter.html" class="otherLinkColour">CImageSourceAdapter</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/image-source-error-listener.html" class="otherLinkColour">CImageSourceErrorListener</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/image-tag.html" class="otherLinkColour">CImageTag</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/intermediate-result-unit.html" class="otherLinkColour">CIntermediateResultUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/intermediate-result.html" class="otherLinkColour">CIntermediateResult</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/line-segments-unit.html" class="otherLinkColour">CLineSegmentsUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/line-segment.html" class="otherLinkColour">CLineSegment</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/observed-parameters.html" class="otherLinkColour">CObservationParameters</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/original-image-result-item.html"  class="otherLinkColour">COriginalImageResultItem</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/pdf-reading-parameter.html" class="otherLinkColour">CPDFReadingParameter</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/point.html" class="otherLinkColour">CPoint</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/predetected-region-element.html" class="otherLinkColour">CPredetectedRegionElement</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/predetected-regions-unit.html" class="otherLinkColour">CPredetectedRegionsUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/quadrilateral.html" class="otherLinkColour">CQuadrilateral</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/rect.html" class="otherLinkColour">CRect</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/region-object-element.html" class="otherLinkColour">CRegionObjectElement</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/scaled-colour-image-unit.html" class="otherLinkColour">CScaledColourImageUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/short-lines-unit.html" class="otherLinkColour">CShortLinesUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/text-removed-binary-image-unit.html" class="otherLinkColour">CTextRemovedBinaryImageUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/text-zone.html" class="otherLinkColour">CTextZone</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/text-zones-unit.html" class="otherLinkColour">CTextZonesUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/texture-detection-result-unit.html" class="otherLinkColour">CTextureDetectionResultUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/texture-removed-binary-image-unit.html" class="otherLinkColour">CTextureRemovedBinaryImageUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html" class="otherLinkColour">CTextureRemovedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/intermediate-results/transformed-grayscale-image-unit.html" class="otherLinkColour">CTransformedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/vector4.html" class="otherLinkColour">CVector4</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/basic-structures/video-frame-tag.html" class="otherLinkColour">CVideoFrameTag</a></li>
                    </ul>
                </li>
                <li><a>Structs</a>
                    <ul>
                        <li><a href="{{ site.dcvb_cpp_api }}core/structs/intermediate-result-extra-info.html" class="otherLinkColour">IntermediateResultExtraInfo</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-buffer-overflow-protection-mode.html?lang=cpp"  class="otherLinkColour">BufferOverflowProtectionMode</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-captured-result-item-type.html?lang=cpp"  class="otherLinkColour">CapturedResultItemType</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-colour-channel-usage-type.html?lang=cpp"  class="otherLinkColour">ColourChannelUsageType</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-corner-type.html?lang=cpp"  class="otherLinkColour">CornerType</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-cross-verification-status.html?lang=cpp"  class="otherLinkColour">CrossVerificationStatus</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-error-code.html?lang=cpp"  class="otherLinkColour">ErrorCode</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-grayscale-enhancement-mode.html?lang=cpp" class="otherLinkColour">GrayscaleEnhancementMode</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-grayscale-transformation-mode.html?lang=cpp"  class="otherLinkColour">GrayscaleTransformationMode</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-image-capture-distance-mode.html?lang=cpp"  class="otherLinkColour">ImageCaptureDistanceMode</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-image-file-format.html?lang=cpp"  class="otherLinkColour">ImageFileFormat</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-image-pixel-format.html?lang=cpp"  class="otherLinkColour">ImagePixelFormat</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-image-tag-type.html?lang=cpp"  class="otherLinkColour">ImageTagType</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-intermediate-result-unit-type.html?lang=cpp"  class="otherLinkColour">IntermediateResultUnitType</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-pdf-reading-mode.html?lang=cpp"  class="otherLinkColour">PDFReadingMode</a></li>                
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-raster-data-source.html?lang=cpp"  class="otherLinkColour">RasterDataSource</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-region-object-element-type.html?lang=cpp"  class="otherLinkColour">RegionObjectElementType</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-section-type.html?lang=cpp"  class="otherLinkColour">SectionType</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-transform-matrix-type.html?lang=cpp"  class="otherLinkColour">TransformMatrixType</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}core/enum-video-frame-quality.html?lang=cpp"  class="otherLinkColour">VideoFrameQuality</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftUtility</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcvb_cpp_api }}utility/directory-fetcher.html" class="otherLinkColour">CDirectoryFetcher</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}utility/file-fetcher.html" class="otherLinkColour">CFileFetcher</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}utility/image-io.html" class="otherLinkColour">CImageIO</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}utility/image-processor.html" class="otherLinkColour">CImageProcessor</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}utility/image-drawer.html" class="otherLinkColour">CImageDrawer</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}utility/multi-frame-result-cross-filter.html" class="otherLinkColour">CMultiFrameResultCrossFilter</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}utility/proactive-image-source-adapter.html" class="otherLinkColour">CProactiveImageSourceAdapter</a></li>
                        <li><a href="{{ site.dcvb_cpp_api }}utility/utility-module.html" class="otherLinkColour">CUtilityModule</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcvb_cpp_api }}utility/enum-filter-type.html" class="otherLinkColour">FilterType</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftLicense</a>
            <ul>
                <li><a href="{{ site.dcvb_cpp_api }}license/license-manager.html" class="otherLinkColour">CLicenseManager</a></li>
                <li><a href="{{ site.dcvb_cpp_api }}license/license-module.html" class="otherLinkColour">CLicenseModule</a></li>
            </ul>
        </li>
        <li><a>DynamsoftImageProcessing</a>
            <ul>
                <li><a href="{{ site.dcvb_cpp_api }}image-processing/image-processing-module.html" class="otherLinkColour">CImageProcessingModule</a></li>
            </ul>
        </li>
    </ul>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang=include.lang targetRelativePath="sidelist-understanding.html" -%}
<li lang="cplusplus" class="category">USEFUL RESOURCES</li>
<li lang="cplusplus"><a href="{{ site.dbr_cpp_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul>
        <li><a href="{{ site.dbr_cpp_release_notes }}cpp-11.html" class="otherLinkColour">Version 11.x</a></li>
        <li><a href="{{ site.dbr_cpp_release_notes_v10 }}cpp-10.html" class="otherLinkColour">Version 10.x</a></li>
        <li><a href="{{ site.dbr_cpp_release_notes_v9 }}cpp-9.html" class="otherLinkColour">Version 9.x</a></li>
        <li><a href="{{ site.dbr_cpp_release_notes_v9 }}cpp-8.html" class="otherLinkColour">Version 8.x</a></li>
        <li><a href="{{ site.dbr_cpp_release_notes_v9 }}cpp-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
    </ul>
</li>
<li lang="cplusplus"><a class="otherLinkColour">Migration Guides</a>
    <ul>
        <li><a href="{{ site.dbr_cpp }}migrate-from-v10.html" class="otherLinkColour">Migrate from 10.x to 11.x</a></li>
        <li><a href="{{ site.dbr_cpp }}migrate-from-v9.html" class="otherLinkColour">Migrate from 9.x to 11.x</a></li>
    </ul>
</li>
<li lang="cplusplus"><a href="{{ site.license_activation }}index.html" class="otherLinkColour">License Initialization</a></li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang=include.lang targetRelativePath="sidelist-faq.html" -%}
<li lang="cplusplus" class="category">OTHER EDITIONS</li>
<li lang="cplusplus"><a class="otherLinkColour">Choose a Language</a>
    <ul>
        <li><a target="_blank" href="{{ site.dbr_python }}" class="otherLinkColour refreshLink">Python</a></li>
        <li><a target="_blank" href="{{ site.dbr_java }}" class="otherLinkColour refreshLink">Java</a></li>
        <li><a target="_blank" href="{{ site.dbr_dotnet }}" class="otherLinkColour refreshLink">.NET</a></li>
        <li><a target="_blank" href="{{ site.dbr_js }}" class="otherLinkColour refreshLink">JS</a></li>
        <li><a target="_blank" href="{{ site.dbr_android }}" class="otherLinkColour refreshLink">Android</a></li>
        <li><a target="_blank" href="{{ site.dbr_ios }}" class="otherLinkColour refreshLink">iOS</a></li>
        <li><a target="_blank" href="{{ site.dbr_maui }}" class="otherLinkColour refreshLink">MAUI</a></li>
    </ul>
</li>