<li lang="python" class="category">DEVELOPMENT</li>
<li lang="python" ><a href="{{ site.python }}user-guide/index.html" class="otherLinkColour">User Guide</a>
    <ul lang="python" >
        <li lang="python" ><a href="{{ site.python }}user-guide.html" class="otherLinkColour">Getting Started</a> </li>

        <li lang="python" ><a href="{{ site.python }}user-guide/explore-features/index.html" class="otherLinkColour">Explore Features</a>
            <ul lang="python" >
                <li lang="python" ><a class="otherLinkColour">Basic Features</a>
                    <ul lang="python" >
                        <li lang="python" ><a href="{{ site.features }}barcode-formats-and-count.html?lang=python" class="otherLinkColour">Specify barcode formats and count</a></li>
                        <li lang="python" ><a href="{{ site.features }}read-different-source.html?lang=python" class="otherLinkColour">Read barcode from image</a></li>
                        <li lang="python" ><a href="{{ site.features }}barcode-scan-region.html?lang=python" class="otherLinkColour">Read a specific area/region</a></li>
                    </ul>
                </li>
                <li lang="python" ><a class="otherLinkColour">Handle Different Scenarios</a>
                    <ul lang="python" >
                        <li lang="python" ><a href="{{ site.features }}read-inverted-barcodes.html?lang=python" class="otherLinkColour">Read inverted barcodes</a></li>
                        <li lang="python" ><a href="{{ site.features }}read-deformed-barcodes.html?lang=python" class="otherLinkColour">Read deformed barcodes</a></li>
                        <li lang="python" ><a href="{{ site.features }}read-incomplete-barcodes.html?lang=python" class="otherLinkColour">Read incomplete barcodes</a></li>
                        <li lang="python" ><a href="{{ site.features }}read-a-large-image.html?lang=python" class="otherLinkColour">Read barcodes from a large image</a></li>
                        <li lang="python" ><a href="{{ site.features }}read-barcodes-with-small-moduleSize.html?lang=python" class="otherLinkColour">Read barcodes with small module size</a></li>
                        <li lang="python" ><a href="{{ site.features }}read-barcodes-with-imbalanced-colour.html?lang=python" class="otherLinkColour">Read images with imbalanced colors</a></li>
                        <li lang="python" ><a href="{{ site.features }}read-barcodes-with-uneven-lighting.html?lang=python" class="otherLinkColour">Read images with uneven lighting</a></li>
                        <li lang="python" ><a href="{{ site.features }}read-images-with-texture.html?lang=python" class="otherLinkColour">Read images with texture</a></li>
                        <li lang="python" ><a href="{{ site.features }}read-images-with-lots-of-text.html?lang=python" class="otherLinkColour">Read images with lots of text</a></li>
                        <li lang="python" ><a href="{{ site.features }}read-dense-barcodes.html?lang=python" class="otherLinkColour">Read high-density QR Codes</a></li>
                        <li lang="python" ><a href="{{ site.features }}preprocess-images.html?lang=python" class="otherLinkColour">Preprocess images to read difficult barcodes</a></li>
                    </ul>
                </li>
                <li lang="python" ><a class="otherLinkColour">Barcode Results</a>
                    <ul lang="python" >
                        <li lang="python" ><a href="{{ site.features }}get-confidence-rotation.html?lang=python" class="otherLinkColour">Get barcode confidence and rotation</a></li>
                        <li lang="python" ><a href="{{ site.features }}get-barcode-location.html?lang=python" class="otherLinkColour">Get barcode location</a></li>
                        <li lang="python" ><a href="{{ site.features }}get-detailed-info.html?lang=python" class="otherLinkColour">Get detailed barcode information</a></li>
                        <li lang="python" ><a href="{{ site.features }}filter-and-sort.html?lang=python" class="otherLinkColour">Filter and sort decoding results</a></li>
                        <li lang="python" ><a href="{{ site.features }}use-intermidiate-results.html?lang=python" class="otherLinkColour">Use intermediate results</a></li>
                    </ul>
                </li>
                <li lang="python" ><a class="otherLinkColour">Advanced Features</a>
                    <ul lang="python" >
                        <li lang="python" ><a href="{{ site.features }}control-terminate-phase.html?lang=python" class="otherLinkColour">Control when to terminate a decoding process</a></li>
                        <li lang="python" ><a href="{{ site.features }}use-runtimesettings-or-templates.html?lang=python" class="otherLinkColour">Use RuntimeSettings or Templates</a></li>
                        <li lang="python" ><a href="{{ site.features }}use-format-specific-configuration.html?lang=python" class="otherLinkColour">Use format specific configurations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="python" ><a href="{{ site.python }}user-guide/use-cases/index.html" class="otherLinkColour">Check Use Cases</a>
            <ul lang="python" >
                <li lang="python" ><a href="{{ site.usecases }}read-dpm-codes.html?lang=python" class="otherLinkColour">Read DPM codes</a></li>
                <li lang="python" ><a href="{{ site.usecases }}read-postal-codes.html?lang=python" class="otherLinkColour">Read Postal codes</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="python"><a href="{{ site.python }}samples/index.html" class="otherLinkColour">Samples and Demo</a></li>
<li lang="python"><a href="{{ site.python_api }}" class="otherLinkColour">API Reference</a>
    <ul lang="python">
        <li lang="python"><a href="{{ site.python_api }}BarcodeReader/" class="otherLinkColour">BarcodeReader Class</a>
            <ul lang="python">
                <li lang="python"><a href="{{ site.python_api }}BarcodeReader/constructor-and-destructor.html" class="otherLinkColour">Constructor and Destructor</a></li>
                <li lang="python"><a href="{{ site.python_api }}BarcodeReader/license.html" class="otherLinkColour">License Methods</a></li>
                <li lang="python"><a href="{{ site.python_api }}BarcodeReader/decode.html" class="otherLinkColour">Decode Methods</a></li>
                <li lang="python"><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-basic.html" class="otherLinkColour">Basic Settings Methods</a></li>
                <li lang="python"><a href="{{ site.python_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Advanced Settings Methods</a></li>
                <li lang="python"><a href="{{ site.python_api }}BarcodeReader/video.html" class="otherLinkColour">Video Methods</a></li>
                <li lang="python"><a href="{{ site.python_api }}BarcodeReader/result.html" class="otherLinkColour">Result Methods</a></li>

            </ul>
        </li>
        <li lang="python"><a href="{{ site.python_api }}class/" class="otherLinkColour">Auxiliary Classes</a>
            <ul lang="python">
                <li lang="python"><a href="{{ site.python_api }}class/AztecDetailedResult.html" class="otherLinkColour">AztecDetailedResult</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/BarcodeReaderError.html" class="otherLinkColour">BarcodeReaderError</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/Contour.html" class="otherLinkColour">Contour</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/DataMatrixDetailedResult.html" class="otherLinkColour">DataMatrixDetailedResult</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/DMDLSConnectionParameters.html" class="otherLinkColour">DMDLSConnectionParameters</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/ErrorCallBack.html" class="otherLinkColour">ErrorCallBack</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/ExtendedResult.html" class="otherLinkColour">ExtendedResult</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/ImageData.html" class="otherLinkColour">ImageData</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/IntermediateResultCallBack.html" class="otherLinkColour">IntermediateResultCallBack</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/LineSegment.html" class="otherLinkColour">LineSegment</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/OnedDetailedResult.html" class="otherLinkColour">OnedDetailedResult</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/PDFDetailedResult.html" class="otherLinkColour">PDFDetailedResult</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/Point.html" class="otherLinkColour">Point</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/QRCodeDetailedResult.html" class="otherLinkColour">QRCodeDetailedResult</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/TextResult.html" class="otherLinkColour">TextResult</a></li>
                <li lang="python"><a href="{{ site.python_api }}class/TextResultCallBack.html" class="otherLinkColour">TextResultCallBack</a></li>
            </ul>
        </li>
        <li lang="python"><a href="{{ site.python_enumerations }}" class="otherLinkColour">Enumerations</a>
            <ul lang="python">
                <li lang="python"><a href="{{ site.python_enumerations }}format-enums.html" class="otherLinkColour">Format Enumerations</a></li>
                <li lang="python"><a href="{{ site.python_enumerations }}parameter-mode-enums.html" class="otherLinkColour">Parameter Mode Enumerations</a></li>
                <li lang="python"><a href="{{ site.python_enumerations }}result-enums.html" class="otherLinkColour">Result Enumerations</a></li>
                <li lang="python"><a href="{{ site.python_enumerations }}frame-decoding-enums.html" class="otherLinkColour">Frame Decoding Enumerations</a></li>
                <li lang="python"><a href="{{ site.python_enumerations }}other-enums.html" class="otherLinkColour">Other Enumerations</a></li>
                <li lang="python"><a href="{{ site.python_enumerations }}error-code.html" class="otherLinkColour">Error Code</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="python" class="category">USEFUL RESOURCES</li>
<li lang="python"><a href="{{ site.python_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul lang="python">
        <li lang="python"><a href="{{ site.python_release_notes }}python-9.html" class="otherLinkColour">Version 9.x</a></li>
        <li lang="python"><a href="{{ site.python_release_notes }}python-8.html" class="otherLinkColour">Version 8.x</a></li>
        <li lang="python"><a href="{{ site.python_release_notes }}python-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
    </ul>
</li>
<li lang="python"><a href="{{ site.python }}upgrade-instruction.html" class="otherLinkColour">Upgrade Instructions</a></li>

<li lang="python" class="category">OTHER EDITIONS</li>
<li lang="python"><a class="otherLinkColour">Choose a Language</a>
    <ul lang="python">
        <li lang="python"><a target="_blank" href="{{ site.java }}" class="otherLinkColour refreshLink">Java</a></li>
        <li lang="python"><a target="_blank" href="{{ site.dotnet }}" class="otherLinkColour refreshLink">.NET</a></li>
        <li lang="python"><a target="_blank" href="{{ site.cpp }}" class="otherLinkColour refreshLink">C++</a></li>
        <li lang="python"><a target="_blank" href="{{ site.c }}" class="otherLinkColour refreshLink">C</a></li>
    </ul>
</li>