<li lang="dotnet" class="category">DEVELOPMENT</li>
<li lang="dotnet" ><a href="{{ site.dbr_dotnet }}user-guide/index.html" class="otherLinkColour">User Guide</a>
    <ul>
        <li><a href="{{ site.dbr_dotnet }}user-guide.html" class="otherLinkColour">Getting Started</a> </li>

        <li><a href="{{ site.dbr_dotnet }}user-guide/explore-features/index.html" class="otherLinkColour">Explore Features</a>
            <ul>
                <li><a class="otherLinkColour">Basic Features</a>
                    <ul>
                        <li><a href="{{ site.features }}barcode-formats-and-count.html?lang=csharp" class="otherLinkColour">Specify barcode formats and count</a></li>
                        <li><a href="{{ site.features }}barcode-scan-region.html?lang=csharp" class="otherLinkColour">Read a specific area/region</a></li>
                    </ul>
                </li>
                <li><a class="otherLinkColour">Handle Different Scenarios</a>
                    <ul>
                        <li><a href="{{ site.features }}read-inverted-barcodes.html?lang=csharp" class="otherLinkColour">Read inverted barcodes</a></li>
                        <li><a href="{{ site.features }}read-deformed-barcodes.html?lang=csharp" class="otherLinkColour">Read deformed barcodes</a></li>
                        <li><a href="{{ site.features }}read-incomplete-barcodes.html?lang=csharp" class="otherLinkColour">Read incomplete barcodes</a></li>
                        <li><a href="{{ site.features }}read-a-large-image.html?lang=csharp" class="otherLinkColour">Read barcodes from a large image</a></li>
                        <li><a href="{{ site.features }}read-barcodes-with-small-module-size.html?lang=csharp" class="otherLinkColour">Read barcodes with small module size</a></li>
                        <li><a href="{{ site.features }}read-barcodes-with-imbalanced-colour.html?lang=csharp" class="otherLinkColour">Read images with imbalanced colors</a></li>
                        <li><a href="{{ site.features }}read-barcodes-with-uneven-lighting.html?lang=csharp" class="otherLinkColour">Read images with uneven lighting</a></li>
                        <li><a href="{{ site.features }}read-images-with-texture.html?lang=csharp" class="otherLinkColour">Read images with texture</a></li>
                        <li><a href="{{ site.features }}read-images-with-lots-of-text.html?lang=csharp" class="otherLinkColour">Read images with lots of text</a></li>
                        <li><a href="{{ site.features }}read-dense-barcodes.html?lang=csharp" class="otherLinkColour">Read high-density QR Codes</a></li>
                        <li><a href="{{ site.features }}preprocess-images.html?lang=csharp" class="otherLinkColour">Preprocess images to read difficult barcodes</a></li>
                        <li><a href="{{ site.features }}use-region-predetection.html?lang=csharp" class="otherLinkColour">Automatically detect barcode Region of Interest</a></li>
                    </ul>
                </li>
                <li><a class="otherLinkColour">Barcode Results</a>
                    <ul>
                        <li><a href="{{ site.features }}get-confidence-rotation.html?lang=csharp" class="otherLinkColour">Get barcode confidence and rotation</a></li>
                        <li><a href="{{ site.features }}get-barcode-location.html?lang=csharp" class="otherLinkColour">Get barcode location</a></li>
                        <li><a href="{{ site.features }}get-detailed-info.html?lang=csharp" class="otherLinkColour">Get detailed barcode information</a></li>
                        <li><a href="{{ site.features }}filter-and-sort.html?lang=csharp" class="otherLinkColour">Filter and sort decoding results</a></li>
                    </ul>
                </li>
                <li><a class="otherLinkColour">Advanced Features</a>
                    <ul>
                        <li><a href="{{ site.features }}control-terminate-phase.html?lang=csharp" class="otherLinkColour">Control when to terminate a decoding process</a></li>
                        <li><a href="{{ site.features }}use-runtimesettings-or-templates.html?lang=csharp" class="otherLinkColour">Use SimplifiedSettings or Templates</a></li>
                        <li><a href="{{ site.features }}use-format-specific-configuration.html?lang=csharp" class="otherLinkColour">Use format specific configurations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.dbr_dotnet }}user-guide/use-cases/index.html" class="otherLinkColour">Check Use Cases</a>
            <ul>
                <li><a href="{{ site.usecases }}read-dpm-codes.html?lang=csharp" class="otherLinkColour">Read DPM codes</a></li>
                <li><a href="{{ site.usecases }}read-postal-codes.html?lang=csharp" class="otherLinkColour">Read Postal codes</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="dotnet"><a href="{{ site.dbr_dotnet }}samples/index.html" class="otherLinkColour">Samples and Demo</a></li>
<li lang="dotnet"><a href="{{ site.dbr_dotnet_api }}" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a>DynamsoftCaptureVisionRouter</a>
            <ul>
                <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CaptureVisionRouter</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/instantiate.html" class="otherLinkColour">Constructor and Destructor</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/single-file-processing.html" class="otherLinkColour">Single-File Processing</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/multiple-file-processing.html" class="otherLinkColour">Multiple-File Processing</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/settings.html" class="otherLinkColour">Settings</a></li>
                    </ul>
                </li>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/captured-result.html" class="otherLinkColour">CapturedResult</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/captured-result-filter.html" class="otherLinkColour">CapturedResultFilter</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/captured-result-receiver.html" class="otherLinkColour">CapturedResultReceiver</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">CaptureVisionRouterModule</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/preset-template.html" class="otherLinkColour">PresetTemplate</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/simplified-capture-vision-settings.html" class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                    </ul>
                </li>
                <li><a>Interfaces</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/capture-state-listener.html" class="otherLinkColour">ICaptureStateListener</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/image-source-state-listener.html" class="otherLinkColour">IImageSourceStateListener</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcvb_enumerations }}capture-vision-router/capture-state.html?lang=dotnet" class="otherLinkColour">EnumCaptureState</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}capture-vision-router/image-source-state.html?lang=dotnet" class="otherLinkColour">EnumImageSourceState</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftBarcodeReader</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dbr_dotnet_api }}aztec-details.html" class="otherLinkColour">AztecDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}barcode-details.html" class="otherLinkColour">BarcodeDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}barcode-reader-module.html" class="otherLinkColour">BarcodeReaderModule</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}barcode-result-item.html" class="otherLinkColour">BarcodeResultItem</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}datamatrix-details.html" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}decoded-barcodes-result.html" class="otherLinkColour">DecodedBarcodesResult</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}oned-code-details.html" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}pdf417-details.html" class="otherLinkColour">PDF417Details</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}qr-code-details.html" class="otherLinkColour">QRCodeDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}simplified-barcode-reader-settings.html" class="otherLinkColour">SimplifiedBarcodeReaderSettings</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcvb_enumerations }}barcode-reader/barcode-format.html?lang=dotnet" class="otherLinkColour">EnumBarcodeFormat</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}barcode-reader/deblur-mode.html?lang=dotnet" class="otherLinkColour">EnumDeblurMode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}barcode-reader/extended-barcode-result-type.html?lang=dotnet" class="otherLinkColour">EnumExtendedBarcodeResultType</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}barcode-reader/localization-mode.html?lang=dotnet" class="otherLinkColour">EnumLocalizationMode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}barcode-reader/qr-code-error-correction-level.html?lang=dotnet" class="otherLinkColour">EnumQRCodeErrorCorrectionLevel</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftCore</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/captured-result-item.html" class="otherLinkColour">CapturedResultItem</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/core-module.html" class="otherLinkColour">CoreModule</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/file-image-tag.html" class="otherLinkColour">FileImageTag</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/image-data.html" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/image-source-adapter.html" class="otherLinkColour">ImageSourceAdapter</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/image-tag.html" class="otherLinkColour">ImageTag</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/original-image-result-item.html" class="otherLinkColour">OriginalImageResultItem</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/pdf-reading-parameter.html" class="otherLinkColour">PDFReadingParameter</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/point.html" class="otherLinkColour">Point</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/rect.html" class="otherLinkColour">Rect</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/video-frame-tag.html" class="otherLinkColour">VideoFrameTag</a></li>
                    </ul>
                </li>
                <li><a>Interface</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/image-source-error-listener.html" class="otherLinkColour">IImageSourceErrorListener</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcvb_enumerations }}core/buffer-overflow-protection-mode.html?lang=dotnet" class="otherLinkColour">EnumBufferOverflowProtectionMode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/captured-result-item-type.html?lang=dotnet" class="otherLinkColour">EnumCapturedResultItemType</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/colour-channel-usage-type.html?lang=dotnet" class="otherLinkColour">EnumColourChannelUsageType</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/error-code.html?lang=dotnet" class="otherLinkColour">EnumErrorCode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/grayscale-enhancement-mode.html?lang=dotnet" class="otherLinkColour">EnumGrayscaleEnhancementMode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/grayscale-transformation-mode.html?lang=dotnet" class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/image-capture-distance-mode.html?lang=dotnet" class="otherLinkColour">EnumImageCaptureDistanceMode</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/image-pixel-format.html?lang=dotnet" class="otherLinkColour">EnumImagePixelFormat</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/image-tag-type.html?lang=dotnet" class="otherLinkColour">EnumImageTagType</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/pdf-reading-mode.html?lang=dotnet" class="otherLinkColour">EnumPDFReadingMode</a></li>                
                        <li><a href="{{ site.dcvb_enumerations }}core/raster-data-source.html?lang=dotnet" class="otherLinkColour">EnumRasterDataSource</a></li>
                        <li><a href="{{ site.dcvb_enumerations }}core/video-frame-quality.html?lang=dotnet" class="otherLinkColour">EnumVideoFrameQuality</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftUtility</a>
            <ul>
                <li><a href="{{ site.dcvb_dotnet_api }}utility/directory-fetcher.html" class="otherLinkColour">DirectoryFetcher</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}utility/file-fetcher.html" class="otherLinkColour">FileFetcher</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}utility/image-manager.html" class="otherLinkColour">ImageManager</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}utility/multi-frame-result-cross-filter.html" class="otherLinkColour">MultiFrameResultCrossFilter</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}utility/proactive-image-source-adapter.html" class="otherLinkColour">ProactiveImageSourceAdapter</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}utility/utility-module.html" class="otherLinkColour">UtilityModule</a></li>
            </ul>
        </li>
        <li><a>DynamsoftLicense</a>
            <ul>
                <li><a href="{{ site.dcvb_dotnet_api }}license/license-manager.html" class="otherLinkColour">LicenseManager</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}license/license-module.html" class="otherLinkColour">LicenseModule</a></li>
            </ul>
        </li>
        <li><a>DynamsoftImageProcessing</a>
            <ul>
                <li><a href="{{ site.dcvb_dotnet_api }}image-processing/image-processing-module.html" class="otherLinkColour">ImageProcessingModule</a></li>
            </ul>
        </li>
    </ul>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang=include.lang targetRelativePath="sidelist-understanding.html" -%}
<li lang="dotnet" class="category">USEFUL RESOURCES</li>

<li lang="dotnet"><a href="{{ site.dbr_dotnet_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul>
        <li><a href="{{ site.dbr_dotnet_release_notes }}dotnet-10.html" class="otherLinkColour">Version 10.x</a></li>
        <li><a href="{{ site.dbr_dotnet_release_notes_v9 }}dotnet-9.html" class="otherLinkColour">Version 9.x</a></li>
        <li><a href="{{ site.dbr_dotnet_release_notes_v9 }}dotnet-8.html" class="otherLinkColour">Version 8.x</a></li>
        <li><a href="{{ site.dbr_dotnet_release_notes_v9 }}dotnet-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
    </ul>
</li>
<li lang="dotnet"><a href="{{ site.dbr_dotnet }}upgrade-instruction.html" class="otherLinkColour">Upgrade Instructions</a></li>
<li lang="dotnet"><a href="{{ site.license_activation }}index.html" class="otherLinkColour">License Initialization</a></li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang=include.lang targetRelativePath="sidelist-faq.html" -%}

<li lang="dotnet" class="category">OTHER EDITIONS</li>
<li lang="dotnet"><a class="otherLinkColour">Choose a Language</a>
    <ul>
        <li><a target="_blank" href="{{ site.dbr_python }}" class="otherLinkColour refreshLink">Python</a></li>
        <li><a target="_blank" href="{{ site.dbr_java }}" class="otherLinkColour refreshLink">Java</a></li>
        <li><a target="_blank" href="{{ site.dbr_cpp }}" class="otherLinkColour refreshLink">C++</a></li>
        <li><a target="_blank" href="{{ site.dbr_js }}" class="otherLinkColour refreshLink">JS</a></li>
        <li><a target="_blank" href="{{ site.dbr_android }}" class="otherLinkColour refreshLink">Android</a></li>
        <li><a target="_blank" href="{{ site.dbr_ios }}" class="otherLinkColour refreshLink">iOS</a></li>
        <li><a target="_blank" href="{{ site.dbr_maui }}" class="otherLinkColour refreshLink">MAUI</a></li>
    </ul>
</li>