<li lang="cplusplus" class="category">DEVELOPMENT</li>

<li lang="cplusplus" ><a href="{{ site.dbr_cpp }}user-guide/index.html" class="otherLinkColour">User Guide</a>
    <ul lang="cplusplus" >
        <li lang="cplusplus" ><a href="{{ site.dbr_cpp }}user-guide.html" class="otherLinkColour">Getting Started</a> </li>

        <li lang="cplusplus" ><a href="{{ site.dbr_cpp }}user-guide/explore-features/index.html" class="otherLinkColour">Explore Features</a>
            <ul lang="cplusplus" >
                <li lang="cplusplus" ><a class="otherLinkColour">Basic Features</a>
                    <ul lang="cplusplus" >
                        <li lang="cplusplus" ><a href="{{ site.features }}barcode-formats-and-count.html?lang=cpp" class="otherLinkColour">Specify barcode formats and count</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}read-different-source.html?lang=cpp" class="otherLinkColour">Read barcode from image</a></li>
                    </ul>
                </li>
                <li lang="cplusplus" ><a class="otherLinkColour">Handle Different Scenarios</a>
                    <ul lang="cplusplus" >
                        <li lang="cplusplus" ><a href="{{ site.features }}read-inverted-barcodes.html?lang=cpp" class="otherLinkColour">Read inverted barcodes</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}read-deformed-barcodes.html?lang=cpp" class="otherLinkColour">Read deformed barcodes</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}read-incomplete-barcodes.html?lang=cpp" class="otherLinkColour">Read incomplete barcodes</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}read-a-large-image.html?lang=cpp" class="otherLinkColour">Read barcodes from a large image</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}read-barcodes-with-small-module-size.html?lang=cpp" class="otherLinkColour">Read barcodes with small module size</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}read-barcodes-with-imbalanced-colour.html?lang=cpp" class="otherLinkColour">Read images with imbalanced colors</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}read-barcodes-with-uneven-lighting.html?lang=cpp" class="otherLinkColour">Read images with uneven lighting</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}read-images-with-texture.html?lang=cpp" class="otherLinkColour">Read images with texture</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}read-images-with-lots-of-text.html?lang=cpp" class="otherLinkColour">Read images with lots of text</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}read-dense-barcodes.html?lang=cpp" class="otherLinkColour">Read high-density QR Codes</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}preprocess-images.html?lang=cpp" class="otherLinkColour">Preprocess images to read difficult barcodes</a></li>
                    </ul>
                </li>
                <li lang="cplusplus" ><a class="otherLinkColour">Barcode Results</a>
                    <ul lang="cplusplus" >
                        <li lang="cplusplus" ><a href="{{ site.features }}get-confidence-rotation.html?lang=cpp" class="otherLinkColour">Get barcode confidence and rotation</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}get-detailed-info.html?lang=cpp" class="otherLinkColour">Get detailed barcode information</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}filter-and-sort.html?lang=cpp" class="otherLinkColour">Filter and sort decoding results</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}use-intermidiate-results.html?lang=cpp" class="otherLinkColour">Use intermediate results</a></li>
                    </ul>
                </li>
                <li lang="cplusplus" ><a class="otherLinkColour">Advanced Features</a>
                    <ul lang="cplusplus" >
                        <li lang="cplusplus" ><a href="{{ site.features }}control-terminate-phase.html?lang=cpp" class="otherLinkColour">Control when to terminate a decoding process</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}use-runtimesettings-or-templates.html?lang=cpp" class="otherLinkColour">Use RuntimeSettings or Templates</a></li>
                        <li lang="cplusplus" ><a href="{{ site.features }}use-format-specific-configuration.html?lang=cpp" class="otherLinkColour">Use format specific configurations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="cplusplus" ><a href="{{ site.dbr_cpp }}user-guide/use-cases/index.html" class="otherLinkColour">Check Use Cases</a>
            <ul lang="cplusplus" >
                <li lang="cplusplus" ><a href="{{ site.usecases }}read-dpm-codes.html?lang=cpp" class="otherLinkColour">Read DPM codes</a></li>
                <li lang="cplusplus" ><a href="{{ site.usecases }}read-postal-codes.html?lang=cpp" class="otherLinkColour">Read Postal codes</a></li>
            </ul>
        </li>
    </ul>
</li>
        <li lang="cplusplus"><a href="{{ site.dbr_cpp }}samples/index.html" class="otherLinkColour">Samples and Demo</a></li>
        <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}" class="otherLinkColour">API Reference</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_methods }}" class="otherLinkColour">CBarcodeReader Class</a>
                    <ul lang="cplusplus">
                            <li lang="cplusplus"><a href="{{ site.dbr_cpp_methods }}constructor-and-destructor.html" class="otherLinkColour">Constructor and Destructor</a></li>
                            <li lang="cplusplus"><a href="{{ site.dbr_cpp_methods }}license.html" class="otherLinkColour">License Methods</a></li>
                            <li lang="cplusplus"><a href="{{ site.dbr_cpp_methods }}decode.html" class="otherLinkColour">Decode Methods</a></li>
                            <li lang="cplusplus"><a href="{{ site.dbr_cpp_methods }}parameter-and-runtime-settings-basic.html" class="otherLinkColour">Basic Settings Methods</a></li>
                            <li lang="cplusplus"><a href="{{ site.dbr_cpp_methods }}parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Advanced Settings Methods</a></li>
                            <li lang="cplusplus"><a href="{{ site.dbr_cpp_methods }}result.html" class="otherLinkColour">Result Methods</a></li>
                            <li lang="cplusplus"><a href="{{ site.dbr_cpp_methods }}general.html" class="otherLinkColour">General Methods</a></li>
                            <li lang="cplusplus"><a href="{{ site.dbr_cpp_methods }}video.html" class="otherLinkColour">Video Methods</a></li>
                    </ul>
                </li>
                <li lang="cplusplus"><a href="{{ site.dbr_structs }}?src=cpp" class="otherLinkColour">Structs</a>
                    <ul lang="cplusplus">
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}AztecDetails.html?src=cpp" class="otherLinkColour">AztecDetails</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}Contour.html?src=cpp" class="otherLinkColour">Contour</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}DBRPoint.html?src=cpp" class="otherLinkColour">DBRPoint</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}DataMatrixDetails.html?src=cpp" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}DMDLSConnectionParameters.html?src=cpp" class="otherLinkColour">DM_DLSConnectionParameters</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}ExtendedResult.html?src=cpp" class="otherLinkColour">ExtendedResult</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}FrameDecodingParameters.html?src=cpp" class="otherLinkColour">FrameDecodingParameters</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}FurtherModes.html?src=cpp" class="otherLinkColour">FurtherModes</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}ImageData.html?src=cpp" class="otherLinkColour">ImageData</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}IntermediateResult.html?src=cpp" class="otherLinkColour">IntermediateResult</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}IntermediateResultArray.html?src=cpp" class="otherLinkColour">IntermediateResultArray</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}LineSegment.html?src=cpp" class="otherLinkColour">LineSegment</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}LocalizationResult.html?src=cpp" class="otherLinkColour">LocalizationResult</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}OneDCodeDetails.html?src=cpp" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}PDF417Details.html?src=cpp" class="otherLinkColour">PDF417Details</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}PublicRuntimeSettings.html?src=cpp" class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}QRCodeDetails.html?src=cpp" class="otherLinkColour">QRCodeDetails</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}Quadrilateral.html?src=cpp" class="otherLinkColour">Quadrilateral</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}RegionDefinition.html?src=cpp" class="otherLinkColour">RegionDefinition</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}RegionOfInterest.html?src=cpp" class="otherLinkColour">RegionOfInterest</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}SamplingImageData.html?src=cpp" class="otherLinkColour">SamplingImageData</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}TextResult.html?src=cpp" class="otherLinkColour">TextResult</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_structs }}TextResultArray.html?src=cpp" class="otherLinkColour">TextResultArray</a></li>
                    </ul>
                </li>
                <li lang="cplusplus"><a href="{{ site.dbr_c_cpp_enumerations }}?src=cpp" class="otherLinkColour">Enumerations</a>
                    <ul lang="cplusplus">
                        <li lang="cplusplus"><a href="{{ site.dbr_c_cpp_enumerations }}format-enums.html?src=cpp" class="otherLinkColour">Format Enumerations</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_c_cpp_enumerations }}parameter-mode-enums.html?src=cpp" class="otherLinkColour">Parameter Mode Enumerations</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_c_cpp_enumerations }}result-enums.html?src=cpp" class="otherLinkColour">Result Enumerations</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_c_cpp_enumerations }}other-enums.html?src=cpp" class="otherLinkColour">Other Enumerations</a></li>
                        <li lang="cplusplus"><a href="{{ site.dbr_c_cpp_enumerations }}error-code.html?src=cpp" class="otherLinkColour">Error Code</a></li>
                    </ul>
                </li>
                        <li lang="cplusplus"><a href="{{ site.dbr_cpp_api }}function-pointer.html" class="otherLinkColour">Callbacks</a></li>
            </ul>
        </li>

        <li lang="cplusplus" class="category">USEFUL RESOURCES</li>
        <li lang="cplusplus"><a href="{{ site.dbr_cpp_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_release_notes }}cpp-8.html" class="otherLinkColour">Version 8.x</a></li>
                <li lang="cplusplus"><a href="{{ site.dbr_cpp_release_notes }}cpp-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
            </ul>
        </li>
        <li lang="cplusplus"><a href="{{ site.dbr_cpp }}upgrade-instruction.html" class="otherLinkColour">Upgrade Instructions</a></li>
        <li lang="cplusplus" class="category">OTHER EDITIONS</li>
        <li lang="cplusplus"><a class="otherLinkColour">Choose a Language</a>
            <ul lang="cplusplus">
                <li lang="cplusplus"><a target="_blank" href="{{ site.dbr_python }}" class="otherLinkColour refreshLink">Python</a></li>
                <li lang="cplusplus"><a target="_blank" href="{{ site.dbr_java }}" class="otherLinkColour refreshLink">Java</a></li>
                <li lang="cplusplus"><a target="_blank" href="{{ site.dbr_dotnet }}" class="otherLinkColour refreshLink">.NET</a></li>
                <li lang="cplusplus"><a target="_blank" href="{{ site.dbr_c }}" class="otherLinkColour refreshLink">C</a></li>
            </ul>
        </li>