<li lang="dotnet" class="category">DEVELOPMENT</li>
<li lang="dotnet" ><a href="{{ site.dbr_dotnet }}user-guide.html" class="otherLinkColour">User Guide</a>
    <ul>
        <li><a href="{{ site.dbr_dotnet }}user-guide/explore-features/index.html" class="otherLinkColour">Explore Features</a>
            <ul>
                <li><a class="otherLinkColour">Basic Features</a>
                    <ul>
                        <li><a href="{{ site.features }}barcode-formats-and-count.html?lang=csharp" class="otherLinkColour">Specify barcode formats and count</a></li>
                        <li><a href="{{ site.features }}barcode-scan-region.html?lang=csharp" class="otherLinkColour">Read a specific area/region</a></li>
                    </ul>
                </li>
                <li><a class="otherLinkColour">Handle Different Scenarios</a>
                    <ul>
                        <li><a href="{{ site.features }}read-inverted-barcodes.html?lang=csharp" class="otherLinkColour">Read inverted barcodes</a></li>
                        <li><a href="{{ site.features }}read-deformed-barcodes.html?lang=csharp" class="otherLinkColour">Read deformed barcodes</a></li>
                        <li><a href="{{ site.features }}read-incomplete-barcodes.html?lang=csharp" class="otherLinkColour">Read incomplete barcodes</a></li>
                        <li><a href="{{ site.features }}read-a-large-image.html?lang=csharp" class="otherLinkColour">Read barcodes from a large image</a></li>
                        <li><a href="{{ site.features }}read-barcodes-with-small-module-size.html?lang=csharp" class="otherLinkColour">Read barcodes with small module size</a></li>
                        <li><a href="{{ site.features }}read-barcodes-with-imbalanced-colour.html?lang=csharp" class="otherLinkColour">Read images with imbalanced colors</a></li>
                        <li><a href="{{ site.features }}read-barcodes-with-uneven-lighting.html?lang=csharp" class="otherLinkColour">Read images with uneven lighting</a></li>
                        <li><a href="{{ site.features }}read-images-with-texture.html?lang=csharp" class="otherLinkColour">Read images with texture</a></li>
                        <li><a href="{{ site.features }}read-images-with-lots-of-text.html?lang=csharp" class="otherLinkColour">Read images with lots of text</a></li>
                        <li><a href="{{ site.features }}read-dense-barcodes.html?lang=csharp" class="otherLinkColour">Read high-density QR Codes</a></li>
                        <li><a href="{{ site.features }}preprocess-images.html?lang=csharp" class="otherLinkColour">Preprocess images to read difficult barcodes</a></li>
                        <li><a href="{{ site.features }}use-region-predetection.html?lang=csharp" class="otherLinkColour">Automatically detect barcode Region of Interest</a></li>
                    </ul>
                </li>
                <li><a class="otherLinkColour">Barcode Results</a>
                    <ul>
                        <li><a href="{{ site.features }}get-confidence-rotation.html?lang=csharp" class="otherLinkColour">Get barcode confidence and rotation</a></li>
                        <li><a href="{{ site.features }}get-barcode-location.html?lang=csharp" class="otherLinkColour">Get barcode location</a></li>
                        <li><a href="{{ site.features }}get-detailed-info.html?lang=csharp" class="otherLinkColour">Get detailed barcode information</a></li>
                        <li><a href="{{ site.features }}filter-and-sort.html?lang=csharp" class="otherLinkColour">Filter and sort decoding results</a></li>
                    </ul>
                </li>
                <li><a class="otherLinkColour">Advanced Features</a>
                    <ul>
                        <li><a href="{{ site.features }}control-terminate-phase.html?lang=csharp" class="otherLinkColour">Control when to terminate a decoding process</a></li>
                        <li><a href="{{ site.features }}use-runtimesettings-or-templates.html?lang=csharp" class="otherLinkColour">Use SimplifiedSettings or Templates</a></li>
                        <li><a href="{{ site.features }}use-format-specific-configuration.html?lang=csharp" class="otherLinkColour">Use format specific configurations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ site.dbr_dotnet }}user-guide/use-cases/index.html" class="otherLinkColour">Check Use Cases</a>
            <ul>
                <li><a href="{{ site.usecases }}read-dpm-codes.html?lang=csharp" class="otherLinkColour">Read DPM codes</a></li>
                <li><a href="{{ site.usecases }}read-postal-codes.html?lang=csharp" class="otherLinkColour">Read Postal codes</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="dotnet"><a href="{{ site.dbr_dotnet }}samples/index.html" class="otherLinkColour">Samples and Demo</a></li>
<li lang="dotnet"><a href="{{ site.dbr_dotnet_api }}" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a>DynamsoftCaptureVisionRouter</a>
            <ul>
                <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CaptureVisionRouter</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/instantiate.html" class="otherLinkColour">Constructor and Destructor</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/single-file-processing.html" class="otherLinkColour">Single-File Processing</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/multiple-file-processing.html" class="otherLinkColour">Multiple-File Processing</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/settings.html" class="otherLinkColour">Settings</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-methods.html" class="otherLinkColour">Auxiliary Methods</a></li>
                    </ul>
                </li>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/buffered-items-manager.html" class="otherLinkColour">BufferedItemsManager</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">CaptureVisionRouterModule</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/captured-result-filter.html" class="otherLinkColour">CapturedResultFilter</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/captured-result-receiver.html" class="otherLinkColour">CapturedResultReceiver</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/captured-result.html" class="otherLinkColour">CapturedResult</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/intermediate-result-manager.html" class="otherLinkColour">IntermediateResultManager</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/intermediate-result-receiver.html" class="otherLinkColour">IntermediateResultReceiver</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/preset-template.html" class="otherLinkColour">PresetTemplate</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/simplified-capture-vision-settings.html" class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                    </ul>
                </li>
                <li><a>Interfaces</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/capture-state-listener.html" class="otherLinkColour">ICaptureStateListener</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/auxiliary-classes/image-source-state-listener.html" class="otherLinkColour">IImageSourceStateListener</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/enum-capture-state.html" class="otherLinkColour">EnumCaptureState</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}capture-vision-router/enum-image-source-state.html" class="otherLinkColour">EnumImageSourceState</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftBarcodeReader</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dbr_dotnet_api }}aztec-details.html" class="otherLinkColour">AztecDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}barcode-details.html" class="otherLinkColour">BarcodeDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}barcode-reader-module.html" class="otherLinkColour">BarcodeReaderModule</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}barcode-result-item.html" class="otherLinkColour">BarcodeResultItem</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}candidate-barcode-zone.html" class="otherLinkColour">CandidateBarcodeZone</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}candidate-barcode-zones-unit.html" class="otherLinkColour">CandidateBarcodeZonesUnit</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}complemented-barcode-image-unit.html" class="otherLinkColour">ComplementedBarcodeImageUnit</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}datamatrix-details.html" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}decoded-barcode-element.html" class="otherLinkColour">DecodedBarcodeElement</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}decoded-barcodes-result.html" class="otherLinkColour">DecodedBarcodesResult</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}decoded-barcodes-unit.html" class="otherLinkColour">DecodedBarcodesUnit</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}deformation-resisted-barcode-image-unit.html" class="otherLinkColour">DeformationResistedBarcodeImageUnit</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}deformation-resisted-barcode.html" class="otherLinkColour">DeformationResistedBarcode</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}eci-segment.html" class="otherLinkColour">ECISegment</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}extended-barcode-result.html" class="otherLinkColour">ExtendedBarcodeResult</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}localized-barcode-element.html" class="otherLinkColour">LocalizedBarcodeElement</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}localized-barcodes-unit.html" class="otherLinkColour">LocalizedBarcodesUnit</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}oned-code-details.html" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}pdf417-details.html" class="otherLinkColour">PDF417Details</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}qr-code-details.html" class="otherLinkColour">QRCodeDetails</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}scaled-barcode-image-unit.html" class="otherLinkColour">ScaledBarcodeImageUnit</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}simplified-barcode-reader-settings.html" class="otherLinkColour">SimplifiedBarcodeReaderSettings</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dbr_dotnet_api }}enum-barcode-format.html" class="otherLinkColour">EnumBarcodeFormat</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}enum-deblur-mode.html" class="otherLinkColour">EnumDeblurMode</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}enum-extended-barcode-result-type.html" class="otherLinkColour">EnumExtendedBarcodeResultType</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}enum-localization-mode.html" class="otherLinkColour">EnumLocalizationMode</a></li>
                        <li><a href="{{ site.dbr_dotnet_api }}enum-qr-code-error-correction-level.html" class="otherLinkColour">EnumQRCodeErrorCorrectionLevel</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftCore</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/abstract-intermediate-result-receiver.html" class="otherLinkColour">AbstractIntermediateResultReceiver</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/binary-image-unit.html" class="otherLinkColour">BinaryImageUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/captured-result-base.html" class="otherLinkColour">CapturedResultBase</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/captured-result-item.html" class="otherLinkColour">CapturedResultItem</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/colour-image-unit.html" class="otherLinkColour">ColourImageUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/contours-unit.html" class="otherLinkColour">ContoursUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/contour.html" class="otherLinkColour">Contour</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/core-module.html" class="otherLinkColour">CoreModule</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/corner.html" class="otherLinkColour">Corner</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/edge.html" class="otherLinkColour">Edge</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/enhanced-grayscale-image-unit.html" class="otherLinkColour">EnhancedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/file-image-tag.html" class="otherLinkColour">FileImageTag</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/grayscale-image-unit.html" class="otherLinkColour">GrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/image-data.html" class="otherLinkColour">ImageData</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/image-source-adapter.html" class="otherLinkColour">ImageSourceAdapter</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/image-tag.html" class="otherLinkColour">ImageTag</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/intermediate-result-extra-info.html" class="otherLinkColour">IntermediateResultExtraInfo</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/intermediate-result-unit.html" class="otherLinkColour">IntermediateResultUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/intermediate-result.html" class="otherLinkColour">IntermediateResult</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/line-segments-unit.html" class="otherLinkColour">LineSegmentsUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/line-segment.html" class="otherLinkColour">LineSegment</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/observed-parameters.html" class="otherLinkColour">ObservationParameters</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/original-image-result-item.html" class="otherLinkColour">OriginalImageResultItem</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/pdf-reading-parameter.html" class="otherLinkColour">PDFReadingParameter</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/point.html" class="otherLinkColour">Point</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/predetected-region-element.html" class="otherLinkColour">PredetectedRegionElement</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/predetected-regions-unit.html" class="otherLinkColour">PredetectedRegionsUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/rect.html" class="otherLinkColour">Rect</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/region-object-element.html" class="otherLinkColour">RegionObjectElement</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/scaled-colour-image-unit.html" class="otherLinkColour">ScaledColourImageUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/short-lines-unit.html" class="otherLinkColour">ShortLinesUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/text-removed-binary-image-unit.html" class="otherLinkColour">TextRemovedBinaryImageUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/text-zone.html" class="otherLinkColour">TextZone</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/text-zones-unit.html" class="otherLinkColour">TextZonesUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/texture-detection-result-unit.html" class="otherLinkColour">TextureDetectionResultUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/texture-removed-binary-image-unit.html" class="otherLinkColour">TextureRemovedBinaryImageUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html" class="otherLinkColour">TextureRemovedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/intermediate-results/transformed-grayscale-image-unit.html" class="otherLinkColour">TransformedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/vector4.html" class="otherLinkColour">Vector4</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/video-frame-tag.html" class="otherLinkColour">VideoFrameTag</a></li>
                    </ul>
                </li>
                <li><a>Interface</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/basic-classes/image-source-error-listener.html" class="otherLinkColour">IImageSourceErrorListener</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-buffer-overflow-protection-mode.html" class="otherLinkColour">EnumBufferOverflowProtectionMode</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-captured-result-item-type.html" class="otherLinkColour">EnumCapturedResultItemType</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-colour-channel-usage-type.html" class="otherLinkColour">EnumColourChannelUsageType</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-corner-type.html"  class="otherLinkColour">EnumCornerType</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-cross-verification-status.html" class="otherLinkColour">EnumCrossVerificationStatus</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-error-code.html" class="otherLinkColour">EnumErrorCode</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-grayscale-enhancement-mode.html" class="otherLinkColour">EnumGrayscaleEnhancementMode</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-grayscale-transformation-mode.html" class="otherLinkColour">EnumGrayscaleTransformationMode</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-image-capture-distance-mode.html" class="otherLinkColour">EnumImageCaptureDistanceMode</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-image-file-format.html" class="otherLinkColour">EnumImageFileFormat</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-image-pixel-format.html" class="otherLinkColour">EnumImagePixelFormat</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-image-tag-type.html" class="otherLinkColour">EnumImageTagType</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-intermediate-result-unit-type.html"  class="otherLinkColour">EnumIntermediateResultUnitType</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-pdf-reading-mode.html" class="otherLinkColour">EnumPDFReadingMode</a></li>                
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-raster-data-source.html" class="otherLinkColour">EnumRasterDataSource</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-region-object-element-type.html"  class="otherLinkColour">EnumRegionObjectElementType</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-section-type.html"  class="otherLinkColour">EnumSectionType</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-transform-matrix-type.html"  class="otherLinkColour">EnumTransformMatrixType</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}core/enum-video-frame-quality.html" class="otherLinkColour">EnumVideoFrameQuality</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftUtility</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}utility/directory-fetcher.html" class="otherLinkColour">DirectoryFetcher</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}utility/file-fetcher.html" class="otherLinkColour">FileFetcher</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}utility/image-io.html" class="otherLinkColour">ImageIO</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}utility/image-processor.html" class="otherLinkColour">ImageProcessor</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}utility/image-drawer.html" class="otherLinkColour">ImageDrawer</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}utility/multi-frame-result-cross-filter.html" class="otherLinkColour">MultiFrameResultCrossFilter</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}utility/proactive-image-source-adapter.html" class="otherLinkColour">ProactiveImageSourceAdapter</a></li>
                        <li><a href="{{ site.dcvb_dotnet_api }}utility/utility-module.html" class="otherLinkColour">UtilityModule</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcvb_dotnet_api }}utility/enum-filter-type.html" class="otherLinkColour">EnumFilterType</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftLicense</a>
            <ul>
                <li><a href="{{ site.dcvb_dotnet_api }}license/license-manager.html" class="otherLinkColour">LicenseManager</a></li>
                <li><a href="{{ site.dcvb_dotnet_api }}license/license-module.html" class="otherLinkColour">LicenseModule</a></li>
            </ul>
        </li>
        <li><a>DynamsoftImageProcessing</a>
            <ul>
                <li><a href="{{ site.dcvb_dotnet_api }}image-processing/image-processing-module.html" class="otherLinkColour">ImageProcessingModule</a></li>
            </ul>
        </li>
    </ul>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang=include.lang targetRelativePath="sidelist-understanding.html" -%}
<li lang="dotnet" class="category">USEFUL RESOURCES</li>

<li lang="dotnet"><a href="{{ site.dbr_dotnet_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul>
        <li><a href="{{ site.dbr_dotnet_release_notes }}dotnet-11.html" class="otherLinkColour">Version 11.x</a></li>
        <li><a href="{{ site.dbr_dotnet_release_notes }}dotnet-10.html" class="otherLinkColour">Version 10.x</a></li>
        <li><a href="{{ site.dbr_dotnet_release_notes }}dotnet-9.html" class="otherLinkColour">Version 9.x</a></li>
        <li><a href="{{ site.dbr_dotnet_release_notes }}dotnet-8.html" class="otherLinkColour">Version 8.x</a></li>
        <li><a href="{{ site.dbr_dotnet_release_notes }}dotnet-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
    </ul>
</li>
<li lang="dotnet"><a class="otherLinkColour">Migration Guides</a>
    <ul>
        <li><a href="{{ site.dbr_dotnet }}migrate-from-v10/" class="otherLinkColour">Migrate from 10.x to 11.x</a></li>
        <li><a href="{{ site.dbr_dotnet }}migrate-from-v9/" class="otherLinkColour">Migrate from 9.x to 11.x</a></li>
    </ul>
</li>
<li lang="dotnet"><a href="{{ site.license_activation }}index.html" class="otherLinkColour">License Initialization</a></li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang=include.lang targetRelativePath="sidelist-faq.html" -%}

<li lang="dotnet" class="category">OTHER EDITIONS</li>
<li lang="dotnet"><a class="otherLinkColour">Choose a Language</a>
    <ul>
        <li><a target="_blank" href="{{ site.dbr_python }}" class="otherLinkColour refreshLink">Python</a></li>
        <li><a target="_blank" href="{{ site.dbr_java }}" class="otherLinkColour refreshLink">Java</a></li>
        <li><a target="_blank" href="{{ site.dbr_cpp }}" class="otherLinkColour refreshLink">C++</a></li>
        <li><a target="_blank" href="{{ site.dbr_js }}" class="otherLinkColour refreshLink">JS</a></li>
        <li><a target="_blank" href="{{ site.dbr_android }}" class="otherLinkColour refreshLink">Android</a></li>
        <li><a target="_blank" href="{{ site.dbr_ios }}" class="otherLinkColour refreshLink">iOS</a></li>
        <li><a target="_blank" href="{{ site.dbr_maui }}" class="otherLinkColour refreshLink">MAUI</a></li>
    </ul>
</li>