<li lang="java" class="category">DEVELOPMENT</li>
<li lang="java" ><a href="{{ site.java }}user-guide/index.html" class="otherLinkColour">User Guide</a>
    <ul lang="java" >
        <li lang="java" ><a href="{{ site.java }}user-guide.html" class="otherLinkColour">Getting Started</a> </li>

        <li lang="java" ><a href="{{ site.java }}user-guide/explore-features/index.html" class="otherLinkColour">Explore Features</a>
            <ul lang="java" >
                <li lang="java" ><a class="otherLinkColour">Basic Features</a>
                    <ul lang="java" >
                        <li lang="java" ><a href="{{ site.features }}barcode-formats-and-count.html?lang=java" class="otherLinkColour">Specify barcode formats and count</a></li>
                        <li lang="java" ><a href="{{ site.features }}read-different-source.html?lang=java" class="otherLinkColour">Read barcode from image</a></li>
                    </ul>
                </li>
                <li lang="java" ><a class="otherLinkColour">Handle Different Scenarios</a>
                    <ul lang="java" >
                        <li lang="java" ><a href="{{ site.features }}read-inverted-barcodes.html?lang=java" class="otherLinkColour">Read inverted barcodes</a></li>
                        <li lang="java" ><a href="{{ site.features }}read-deformed-barcodes.html?lang=java" class="otherLinkColour">Read deformed barcodes</a></li>
                        <li lang="java" ><a href="{{ site.features }}read-incomplete-barcodes.html?lang=java" class="otherLinkColour">Read incomplete barcodes</a></li>
                        <li lang="java" ><a href="{{ site.features }}read-a-large-image.html?lang=java" class="otherLinkColour">Read barcodes from a large image</a></li>
                        <li lang="java" ><a href="{{ site.features }}read-barcodes-with-small-moduleSize.html?lang=java" class="otherLinkColour">Read barcodes with small module size</a></li>
                        <li lang="java" ><a href="{{ site.features }}read-barcodes-with-imbalanced-colour.html?lang=java" class="otherLinkColour">Read images with imbalanced colors</a></li>
                        <li lang="java" ><a href="{{ site.features }}read-barcodes-with-uneven-lighting.html?lang=java" class="otherLinkColour">Read images with uneven lighting</a></li>
                        <li lang="java" ><a href="{{ site.features }}read-images-with-texture.html?lang=java" class="otherLinkColour">Read images with texture</a></li>
                        <li lang="java" ><a href="{{ site.features }}read-images-with-lots-of-text.html?lang=java" class="otherLinkColour">Read images with lots of text</a></li>
                        <li lang="java" ><a href="{{ site.features }}read-dense-barcodes.html?lang=java" class="otherLinkColour">Read high-density QR Codes</a></li>
                        <li lang="java" ><a href="{{ site.features }}preprocess-images.html?lang=java" class="otherLinkColour">Preprocess images to read difficult barcodes</a></li>
                    </ul>
                </li>
                <li lang="java" ><a class="otherLinkColour">Barcode Results</a>
                    <ul lang="java" >
                        <li lang="java" ><a href="{{ site.features }}get-confidence-rotation.html?lang=java" class="otherLinkColour">Get barcode confidence and rotation</a></li>
                        <li lang="java" ><a href="{{ site.features }}get-detailed-info.html?lang=java" class="otherLinkColour">Get detailed barcode information</a></li>
                        <li lang="java" ><a href="{{ site.features }}filter-and-sort.html?lang=java" class="otherLinkColour">Filter and sort decoding results</a></li>
                        <li lang="java" ><a href="{{ site.features }}use-intermidiate-results.html?lang=java" class="otherLinkColour">Use intermediate results</a></li>
                    </ul>
                </li>
                <li lang="java" ><a class="otherLinkColour">Advanced Features</a>
                    <ul lang="java" >
                        <li lang="java" ><a href="{{ site.features }}control-terminate-phase.html?lang=java" class="otherLinkColour">Control when to terminate a decoding process</a></li>
                        <li lang="java" ><a href="{{ site.features }}use-runtimesettings-or-templates.html?lang=java" class="otherLinkColour">Use RuntimeSettings or Templates</a></li>
                        <li lang="java" ><a href="{{ site.features }}use-format-specific-configuration.html?lang=java" class="otherLinkColour">Use format specific configurations</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li lang="java" ><a href="{{ site.java }}user-guide/use-cases/index.html" class="otherLinkColour">Check Use Cases</a>
            <ul lang="java" >
                <li lang="java" ><a href="{{ site.usecases }}read-dpm-codes.html?lang=java" class="otherLinkColour">Read DPM codes</a></li>
                <li lang="java" ><a href="{{ site.usecases }}read-postal-codes.html?lang=java" class="otherLinkColour">Read Postal codes</a></li>
            </ul>
        </li>
    </ul>
</li>
        <li lang="java"><a href="{{ site.java_api }}" class="otherLinkColour">API Reference</a>
            <ul lang="java">
                <li lang="java"><a href="{{ site.java_api }}BarcodeReader/" class="otherLinkColour">BarcodeReader Class</a>
                    <ul lang="java">
                        <li lang="java"><a href="{{ site.java_api }}BarcodeReader/initialize-and-destroy.html" class="otherLinkColour">Initialization and Destroy</a></li>
                        <li lang="java"><a href="{{ site.java_api }}BarcodeReader/license.html" class="otherLinkColour">License Methods</a></li>
                        <li lang="java"><a href="{{ site.java_api }}BarcodeReader/decode.html" class="otherLinkColour">Decode Methods</a></li>
                        <li lang="java"><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-basic.html" class="otherLinkColour">Basic Settings Methods</a></li>
                        <li lang="java"><a href="{{ site.java_api }}BarcodeReader/parameter-and-runtime-settings-advanced.html" class="otherLinkColour">Advanced Settings Methods</a></li>
                        <li lang="java"><a href="{{ site.java_api }}BarcodeReader/result.html" class="otherLinkColour">Result Methods</a></li>
                        <li lang="java"><a href="{{ site.java_api }}BarcodeReader/status-retrieval.html" class="otherLinkColour">Status Retrieval Methods</a></li>
                        <li lang="java"><a href="{{ site.java_api }}BarcodeReader/video.html" class="otherLinkColour">Video Methods</a></li>
                    </ul>
                </li>
                <li lang="java"><a href="{{ site.java_api }}class/" class="otherLinkColour">Auxiliary Classes</a>
                    <ul lang="java">
                        <li lang="java"><a href="{{ site.java_api }}class/AztecDetails.html" class="otherLinkColour">AztecDetails</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/BarcodeReaderException.html" class="otherLinkColour">BarcodeReaderException</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/Contour.html" class="otherLinkColour">Contour</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/DataMatrixDetails.html" class="otherLinkColour">DataMatrixDetails</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/DMLTSConnectionParameters.html" class="otherLinkColour">DMLTSConnectionParameters</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/ExtendedResult.html" class="otherLinkColour">ExtendedResult</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/FrameDecodingParameters.html" class="otherLinkColour">FrameDecodingParameters</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/FurtherModes.html" class="otherLinkColour">FurtherModes</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/ImageData.html" class="otherLinkColour">ImageData</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/IntermediateResult.html" class="otherLinkColour">IntermediateResult</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/LineSegment.html" class="otherLinkColour">LineSegment</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/LocalizationResult.html" class="otherLinkColour">LocalizationResult</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/OneDCodeDetails.html" class="otherLinkColour">OneDCodeDetails</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/PDF417Details.html" class="otherLinkColour">PDF417Details</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/PublicRuntimeSettings.html" class="otherLinkColour">PublicRuntimeSettings</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/QRCodeDetails.html" class="otherLinkColour">QRCodeDetails</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/Quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/RegionDefinition.html" class="otherLinkColour">RegionDefinition</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/RegionOfInterest.html" class="otherLinkColour">RegionOfInterest</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/SamplingImageData.html" class="otherLinkColour">SamplingImageData</a></li>
                        <li lang="java"><a href="{{ site.java_api }}class/TextResult.html" class="otherLinkColour">TextResult</a></li>
                    </ul>
                </li>
                <li lang="java"><a href="{{ site.java_enumerations }}" class="otherLinkColour">Enumerations</a>
                    <ul lang="java">
                        <li lang="java"><a href="{{ site.java_enumerations }}format-enums.html" class="otherLinkColour">Format Enumerations</a></li>
                        <li lang="java"><a href="{{ site.java_enumerations }}parameter-mode-enums.html" class="otherLinkColour">Parameter Mode Enumerations</a></li>
                        <li lang="java"><a href="{{ site.java_enumerations }}result-enums.html" class="otherLinkColour">Result Enumerations</a></li>
                        <li lang="java"><a href="{{ site.java_enumerations }}other-enums.html" class="otherLinkColour">Other Enumerations</a></li>
                        <li lang="java"><a href="{{ site.java_enumerations }}error-code.html" class="otherLinkColour">Error Code</a></li>
                    </ul>
                </li>
                        <li lang="java"><a href="{{ site.java_api }}interface.html" class="otherLinkColour">Interfaces</a></li>
            </ul>
        </li>
        <li lang="java" class="category">USEFUL RESOURCES</li>

        <li lang="java"><a href="{{ site.java_release_notes }}" class="otherLinkColour">Release Notes</a>
            <ul lang="java">
                <li lang="java"><a href="{{ site.java_release_notes }}java-8.html" class="otherLinkColour">Version 8.x</a></li>
                <li lang="java"><a href="{{ site.java_release_notes }}java-7.html" class="otherLinkColour">Version 7.6.0 and below</a></li>
            </ul>
        </li>
        <li lang="java"><a href="{{ site.java }}upgrade-instruction.html" class="otherLinkColour">Upgrade Instructions</a></li>
        <li lang="java" class="category">OTHER EDITIONS</li>
        <li lang="java"><a class="otherLinkColour">Choose a Language</a>
            <ul lang="java">
                <li lang="java"><a target="_blank" href="{{ site.python }}" class="otherLinkColour refreshLink">Python</a></li>
                <li lang="java"><a target="_blank" href="{{ site.dotnet }}" class="otherLinkColour refreshLink">.NET</a></li>
                <li lang="java"><a target="_blank" href="{{ site.cpp }}" class="otherLinkColour refreshLink">C++</a></li>
                <li lang="java"><a target="_blank" href="{{ site.c }}" class="otherLinkColour refreshLink">C</a></li>
            </ul>
        </li>