<li lang="{{include.lang}}" class="category">UNDERSTANDING DBR</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang=include.lang targetRelativePath="sidelist-architecture.html" -%}
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang=include.lang targetRelativePath="sidelist-performance.html" -%}
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang=include.lang targetRelativePath="sidelist-parameters-organization.html" -%}
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath lang=include.lang targetRelativePath="sidelist-parameter-reference.html" -%}
