# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the master branch

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains jobs called "Build-Main" and "Build-v9"

  Build-v9:
    if: ${{ github.ref == 'refs/heads/v9' }}
    uses: dynamsoft-docs/Docs-Template-Repo/.github/workflows/called-workflow-build-sync-production.yml@DBR-v9
    with:
      doc-repo: barcode-reader-docs-server
      doc-url: barcode-reader/docs/v9/server
      doc-branch: v9
    secrets: inherit


